<launch>
  <arg name="USE_SNAPSHOT" default="true" />
  <arg name="USE_THROTTLE" default="true" />
  <arg name="USE_MJPEGSERVER" default="false" />
  <arg name="USE_ROTATED" default="true" />
  <arg name="USE_EDGE" default="false" />

  <arg name="THROTTLE_RATE" default="1.4" />
  <arg name="THROTTLE_RESIZE_RATE" default="0.1" />
  <arg name="THROTTLE_IMAGE_TYPE" default="image_rect" />
  <arg name="THROTTLE_USE_MESSAGES" default="true" />
  <arg name="THROTTLE_PERIOD" default="3" />
  <arg name="SNAPSHOT_RESIZE_RATE" default="0.25" />
  <arg name="SNAPSHOT_IMAGE_TYPE" default="image_rect" />
  <arg name="MJPEGSERVER_PORT" default="8181"/>
  <arg name="GAZEBO_MODE" default="false" />

  <arg name="IMAGE_NODELET_MANAGER" default="/openni_nodelet_manager"/>

  <!-- rotate hand image -->
  <group if="$(arg USE_ROTATED)" >
    <node ns="l_forearm_cam"
          pkg="nodelet" type="nodelet"
          name="lhand_resized_rotated"
          args="load jsk_pcl/ImageRotateNodelet $(arg IMAGE_NODELET_MANAGER)"
          output="screen" clear_params="true">
      <remap from="image" to="image_rect"/>
      <param name="target_frame_id" value="/base_footprint"/>
      <param name="use_tf2" value="true"/>
      <param name="use_camera_info" value="true"/>
    </node>

    <node ns="r_forearm_cam"
          pkg="nodelet" type="nodelet"
          name="rhand_resized_rotated"
          args="load jsk_pcl/ImageRotateNodelet $(arg IMAGE_NODELET_MANAGER)"
          output="screen" clear_params="true">
      <remap from="image" to="image_rect"/>
      <param name="target_frame_id" value="/base_footprint"/>
      <param name="use_tf2" value="true"/>
      <param name="use_camera_info" value="true"/>
    </node>
  </group>

  <group if="$(arg USE_THROTTLE)" >
    <!-- resized image -->
    <node pkg="resized_image_transport" type="image_resizer" name="head_resized"
          output="screen" >
      <remap from="camera" to="/openni/rgb" />
      <remap from="image" to="$(arg THROTTLE_IMAGE_TYPE)"/>
      <param name="resize_scale_x" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="use_messages" value="$(arg THROTTLE_USE_MESSAGES)" />
      <param name="period" value="$(arg THROTTLE_PERIOD)" />
      <param name="use_snapshot" value="false" />
    </node>
    <node pkg="resized_image_transport" type="image_resizer" name="narrow_resized"
          output="screen" >
      <remap from="camera" to="/narrow_stereo/left" />
      <remap from="image" to="$(arg THROTTLE_IMAGE_TYPE)"/>
      <param name="resize_scale_x" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="use_messages" value="$(arg THROTTLE_USE_MESSAGES)" />
      <param name="period" value="$(arg THROTTLE_PERIOD)" />
      <param name="use_snapshot" value="false" />
    </node>
    <node pkg="resized_image_transport" type="image_resizer" name="lhand_resized"
          output="screen" >
      <remap from="camera" to="l_forearm_cam/rotated" />
      <remap from="l_forearm_cam/rotated/camera_info"
             to="l_forearm_cam/camera_info" />
      <!--remap from="image" to="$(arg THROTTLE_IMAGE_TYPE)"/-->
      <param name="resize_scale_x" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="use_messages" value="$(arg THROTTLE_USE_MESSAGES)" />
      <param name="period" value="$(arg THROTTLE_PERIOD)" />
      <param name="use_snapshot" value="false" />
    </node>
    <node pkg="resized_image_transport" type="image_resizer" name="rhand_resized"
          output="screen" >
      <remap from="camera" to="r_forearm_cam/rotated" />
      <remap from="r_forearm_cam/rotated/camera_info"
             to="r_forearm_cam/camera_info" />
      <!--remap from="image" to="$(arg THROTTLE_IMAGE_TYPE)"/-->
      <param name="resize_scale_x" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg THROTTLE_RESIZE_RATE)" />
      <param name="use_messages" value="$(arg THROTTLE_USE_MESSAGES)" />
      <param name="period" value="$(arg THROTTLE_PERIOD)" />
      <param name="use_snapshot" value="false" />
    </node>
  </group>

  <group if="$(arg USE_SNAPSHOT)" >

    <node pkg="resized_image_transport" type="image_resizer" name="head_snap"
          output="screen" >
      <remap from="camera" to="/openni/rgb" />
      <remap from="image" to="image_rect_color" />
      <param name="resize_scale_x" value="0.16" />
      <param name="resize_scale_y" value="0.16" />
      <param name="use_snapshot" value="true" />
    </node>
    <node pkg="resized_image_transport" type="image_resizer" name="narrow_snap"
          output="screen" >
      <remap from="camera" to="/narrow_stereo/left" />
      <remap from="image" to="image_rect_color" />
      <param name="resize_scale_x" value="0.16" />
      <param name="resize_scale_y" value="0.16" />
      <param name="use_snapshot" value="true" />
    </node>

    <node pkg="resized_image_transport" type="image_resizer" name="lhand_snap"
          output="screen" >
      <remap from="camera" to="l_forearm_cam/rotated" />
      <remap from="/l_forearm_cam/rotated/camera_info"
             to="/l_forearm_cam/camera_info" />
      <remap from="lhand_snap/image" to="lhand_snap/image_rect" />
      <param name="resize_scale_x" value="$(arg SNAPSHOT_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg SNAPSHOT_RESIZE_RATE)" />
      <param name="use_snapshot" value="true" />
    </node>

    <node pkg="resized_image_transport" type="image_resizer" name="rhand_snap"
          output="screen" >
      <remap from="camera" to="r_forearm_cam/rotated" />
      <remap from="/r_forearm_cam/rotated/camera_info"
             to="/r_forearm_cam/camera_info" />
      <remap from="rhand_snap/image" to="rhand_snap/image_rect" />
      <param name="resize_scale_x" value="$(arg SNAPSHOT_RESIZE_RATE)" />
      <param name="resize_scale_y" value="$(arg SNAPSHOT_RESIZE_RATE)" />
      <param name="use_snapshot" value="true" />
    </node>

  </group>

  <!-- edge image -->
  <group if="$(arg USE_EDGE)" >
    <node pkg="jsk_perception" type="edge_detector" name="edge_detector">
      <remap from="image" to="openni/rgb/image_rect_color" />
      <remap from="edge/image" to="openni/edge/image"/>
    </node>
    <node pkg="jsk_perception" type="sparse_image_encoder"
            name="sparse_image_encoder">
      <remap from="image" to="openni/edge/image" />
      <remap from="sparse_image" to="openni/sparse/image" />
      <param name="rate" value="1.0" />
    </node>
  </group>

</launch>
