<launch>
  <arg name="RESIZE_RATE" default="0.1" />
  <arg name="IMAGE_TYPE" default="image_rect_throttle" />
  <arg name="COMPRESS_TYPE" default="compressed" />

  <!-- ROI view -->
  <node pkg="image_view" type="image_view"
        name="roi_image_view" >
    <remap from="image" to="roi_image_view_image" />
    <param name="autosize" value="false" />
  </node>

  <!-- rosservice call /roi_topic_buffer_server/update "/roi_camera_output/image_raw" -->
  <!-- rosservice call /roi_topic_buffer_server/update "/multisense_sl/camera/left/image_rect_color" -->
  <group>
  <remap from="/roi_camera_output/image_raw_buffered"
         to="/roi_image_view_image" />
  <remap from="/roi_camera_output_lh/image_raw_buffered"
         to="/roi_image_view_image" />
  <remap from="/roi_camera_output_rh/image_raw_buffered"
         to="/roi_image_view_image" />

  <node pkg="jsk_topic_tools" type="topic_buffer_client"
        name="roi_topic_buffer_client"
        clear_params="true"
        output="screen" >
    <param name="fixed_rate" value="10000000" />
    <param name="update_rate" value="2000000000" />
    <param name="latched" value="true" />
    <rosparam>
      topics: ["/roi_camera_output/image_raw"]
    </rosparam>
    <remap from="/list" to="/roi_topic_buffer_server/list"/>
    <remap from="/update" to="/roi_topic_buffer_server/update"/>
  </node>

  <node pkg="jsk_topic_tools" type="topic_buffer_client"
        name="roi_lh_topic_buffer_client"
        clear_params="true"
        output="screen" >
    <param name="fixed_rate" value="10000000" />
    <param name="update_rate" value="2000000000" />
    <param name="latched" value="true" />
    <rosparam>
      topics: ["/roi_camera_output_lh/image_raw"]
    </rosparam>
    <remap from="/list" to="/roi_lh_topic_buffer_server/list"/>
    <remap from="/update" to="/roi_lh_topic_buffer_server/update"/>
  </node>

  <node pkg="jsk_topic_tools" type="topic_buffer_client"
        name="roi_rh_topic_buffer_client"
        clear_params="true"
        output="screen" >
    <param name="fixed_rate" value="10000000" />
    <param name="update_rate" value="2000000000" />
    <param name="latched" value="true" />
    <rosparam>
      topics: ["/roi_camera_output_rh/image_raw"]
    </rosparam>
    <remap from="/list" to="/roi_rh_topic_buffer_server/list"/>
    <remap from="/update" to="/roi_rh_topic_buffer_server/update"/>
  </node>
  </group>
</launch>
