<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="spot_$(arg robot_type)">

  <xacro:arg name="prefix" default="kinova_"/>
  <xacro:arg name="sim" default="false"/>

  <xacro:include filename="$(find spot_description)/urdf/spot.urdf.xacro"/>
  <xacro:include filename="$(find kortex_description)/robots/$(arg robot_type).xacro">
    <xacro:arg name="sim" value="$(arg sim)"/>
    <xacro:arg name="prefix" value="$(arg prefix)"/>
  </xacro:include>

  <!-- Transform between spot and kinova -->
  <!-- The same as jsk_spotkinova_startup/launch/spot_kinova_bringup.launch -->
  <joint name="left_gripper_base_fixed" type="fixed">
    <origin rpy="0 0 0" xyz="0.1 0 0" />
    <parent link="front_rail"/>
    <child link="$(arg prefix)base_link"/>
  </joint>

</robot>
