<launch>

  <arg name="topic_odom_out" default="odom_visual" />
  <arg name="odom_frame_id" default="odom_visual" />

  <node
      pkg="jsk_fetch_startup"
      type="odometry_transformer.py"
      name="odometry_transformer"
      output="screen"
      >
      <remap from="~odom_in" to="/t265/odom/sample" />
      <remap from="~odom_out" to="$(arg topic_odom_out)" />

      <param name="~frame_id_base_link" value="base_link" />
      <param name="~frame_id_odom" value="$(arg odom_frame_id)" />
      <param name="~publish_tf" value="true" />
      <param name="~2d_mode" value="true" />

      <param name="~translation_base_link_to_pose_frame_x" value="0.269" />
      <param name="~translation_base_link_to_pose_frame_y" value="0.008" />
      <param name="~translation_base_link_to_pose_frame_z" value="0.415" />

      <param name="~rotation_base_link_to_pose_frame_x" value="0" />
      <param name="~rotation_base_link_to_pose_frame_y" value="-0.259" />
      <param name="~rotation_base_link_to_pose_frame_z" value="0" />
      <param name="~rotation_base_link_to_pose_frame_w" value="0.966" />
  </node>

</launch>
