<launch>
  <node name="move_base_db" pkg="jsk_pr2_startup" output="screen"
	type="move_base_db.py">
    <param name="map_frame" value="/eng2"/>
    <param name="robot_frame" value="/base_footprint"/>
  </node>
  <node name="action_result_db" pkg="jsk_pr2_startup" output="screen"
	type="action_result_db.py"/>
  <group ns="/narrow_stereo/left">
     <node name="object_detection_db" pkg="jsk_pr2_startup" output="screen"
	   type="objectdetection_db.py"/>
  </group>
</launch>
