<launch>
  <node name="tweet" pkg="jsk_pr2_startup" type="tweet.py" />
  <node name="active_user" pkg="roseus"
	type="roseus" args="$(find jsk_pr2_startup)/jsk_pr2_lifelog/active_user.l"
	respawn="true" />
  <node name="tweet_client" pkg="roseus"
	type="roseus" args="$(find jsk_pr2_startup)/jsk_pr2_lifelog/tweet_client.l" />
</launch>
