<launch>
  <arg name="output" default="screen" />
  <node name="tweet" pkg="jsk_pr2_startup" type="tweet.py"
        machine="c2"
        output="$(arg output)" respawn="true" />
  <node name="active_user" pkg="roseus"
        type="roseus" args="$(find jsk_pr2_startup)/jsk_pr2_lifelog/active_user.l"
        machine="c2"
        output="$(arg output)" respawn="true" />
  <node name="tweet_client_worktime" pkg="roseus"
        type="roseus" args="$(find jsk_pr2_startup)/jsk_pr2_lifelog/tweet_client_worktime.l"
        machine="c2"
        output="$(arg output)" respawn="true" />
  <node name="tweet_client_uptime" pkg="roseus"
        type="roseus" args="$(find jsk_pr2_startup)/jsk_pr2_lifelog/tweet_client_uptime.l"
        machine="c2"
        output="$(arg output)" respawn="true" />
  <node name="tweet_client_tablet" pkg="roseus"
        type="roseus" args="$(find jsk_pr2_startup)/jsk_pr2_lifelog/tweet_client_tablet.l"
        machine="c2"
        output="$(arg output)" respawn="true" />
  <node name="tweet_client_warning" pkg="roseus"
        type="roseus" args="$(find jsk_pr2_startup)/jsk_pr2_lifelog/tweet_client_warning.l"
        machine="c2"
        output="$(arg output)" respawn="true" />
</launch>
