<launch>
  <arg name="device" default="/dev/lhand-v2-e151" />
  <arg name="mode" default="position" />

  <include file="$(find softhand_ros)/launch/softhand_v2.launch">
    <arg name="hand" value="left" />
    <arg name="device" value="$(arg device)" />
    <arg name="mode" value="$(arg mode)" />
  </include>
</launch>
