<launch>
  <arg name="ROBOT" default="$(env ROBOT)" />
  <arg name="map_frame" default="eng2" />
  <arg name="visualize_log" default="false" />
  <arg name="twitter" default="true" />
  <arg name="machine" default="c2" />
  <arg name="output" default="screen" />

  <include file="$(find pr2_machine)/$(arg ROBOT).machine" />

  <include file="$(find jsk_robot_startup)/lifelog/common_logger.launch">
    <arg name="save_rgb" value="true" />
    <arg name="save_depth" value="true" />
    <arg name="save_tf" value="true" />
    <arg name="save_joint_states" value="true" />
    <arg name="save_base_trajectory" value="true" />
    <arg name="save_object_detection" value="false" />
    <arg name="save_action" value="true" />
    <arg name="enable_monitor" value="false" />
    <arg name="log_rate" value="1.0" />
    <arg name="localhost" value="false" />
    <arg name="machine" value="c2" />
    <arg name="launch_manager" value="false" />
    <arg name="manager" value="kinect_head/kinect_head_c2_nodelet_manager" />
    <arg name="map_frame_id" value="$(arg map_frame)" />
    <arg name="debug" value="false"/>
  </include>

  <rosparam ns="lifelog/joint_states_throttle">
    periodic: false
    threshold: 0.01
    blacklist:
    - head_tilt_joint
    - laser_tilt_mount_joint
  </rosparam>

  <rosparam ns="lifelog/action_logger">
    white_list:
      type:
      - control_msgs/FollowJointTrajectoryActionFeedback
      - control_msgs/FollowJointTrajectoryActionGoal
      - control_msgs/FollowJointTrajectoryActionResult
      - pr2_common_action_msgs/TuckArmsActionFeedback
      - pr2_common_action_msgs/TuckArmsActionGoal
      - pr2_common_action_msgs/TuckArmsActionResult
      - pr2_controllers_msgs/PointHeadActionFeedback
      - pr2_controllers_msgs/PointHeadActionGoal
      - pr2_controllers_msgs/PointHeadActionResult
      - pr2_controllers_msgs/Pr2GripperCommandActionFeedback
      - pr2_controllers_msgs/Pr2GripperCommandActionGoal
      - pr2_controllers_msgs/Pr2GripperCommandActionResult
      - sound_play/SoundRequestActionResult
      - sound_play/SoundRequestActionGoal
  </rosparam>

  <!-- tweeting robot warning data and etc. -->
  <include file="$(find jsk_pr2_startup)/jsk_pr2_lifelog/pr2_tweet.launch"
           if="$(arg twitter)"/>

  <!-- visualization of database -->
  <include file="$(find jsk_pr2_startup)/jsk_pr2_lifelog/visualization/pr2_log_visualization.launch"
           if="$(arg visualize_log)" />
</launch>
