<launch>
  <arg name="store_move_base_log" default="true" />
  <arg name="store_object_detection_log" default="true" />
  <arg name="store_action_result_log" default="true" />
  <arg name="twitter" default="true" />

  <include file="$(find pr2_machine)/pr2.machine" />

  <!-- logging and resoring pr2 position data -->
  <node name="move_base_db"
        pkg="jsk_pr2_startup" type="move_base_db.py"
        if="$(arg store_move_base_log)" >
    <param name="map_frame" value="eng2"/>
    <param name="robot_frame" value="base_footprint"/>
    <param name="update_cycle" value="0.1" />
    <param name="db_name" value="jsk_pr2_lifelog" />
    <param name="col_name" value="move_base_db" />
  </node>

  <!--node name="action_result_db" pkg="jsk_pr2_startup" type="action_result_db.py"/-->

  <!-- logging object detection data -->
  <node name="object_detection_db"
        pkg="jsk_pr2_startup" type="objectdetection_db.py"
        if="$(arg store_object_detection_log)" >
    <param name="map_frame" value="eng2"/>
    <param name="robot_frame" value="base_footprint"/>
    <param name="db_name" value="jsk_pr2_lifelog" />
    <param name="col_name" value="object_detection_db" />
  </node>

  <!-- logging action result/goal data -->
  <node name="action_result_db"
        pkg="jsk_pr2_startup" type="action_result_db.py"
        if="$(arg store_action_result_log)">
    <rosparam command="load" file="$(find jsk_pr2_startup)/jsk_pr2_lifelog/action_result_db_config.yaml" />
  </node>

  <!-- tweeting robot warning data and etc. -->
  <include file="$(find jsk_pr2_startup)/jsk_pr2_lifelog/pr2_tweet.launch"
           if="$(arg twitter)"/>
</launch>
