<launch>
  <arg name="ROBOT" default="$(optenv ROBOT pr2)" />
  <include file="$(find pr2_machine)/$(arg ROBOT).machine" />
  <node name="pr2_hark" pkg="jsk_pr2_startup"
        type="microcone_localization_MFCC.sh" output="log"
        machine="c1"
        if="$(optenv USE_MIC_C1 false)"
        />
  <node name="pr2_hark" pkg="jsk_pr2_startup"
        type="microcone_localization_MFCC.sh" output="log"
        machine="c2"
        if="$(optenv USE_MIC_C2 false)"
        />
</launch>
