<launch>
  <param name="robot/type" value="nao" />
  <param name="robot/name" command='bash -c "getent hosts $NAO_IP | tr -s \" \" | cut -d\  -f 2 | cut -d. -f 1"' />
  <arg name="nao_ip" value="$(env NAO_IP)"/>
  <arg name="roscore_ip" value="$(env ROS_IP)"/>
  <arg name="network_interface"   default="eth0" />
  <include file="$(find nao_bringup)/launch/nao_full.launch" >
    <arg name="nao_ip" value="$(arg nao_ip)"/>
    <arg name="roscore_ip" value="$(arg roscore_ip)"/>
    <arg name="network_interface" value="$(arg network_interface)"/>
  </include>
  <include file="$(find nao_interaction_launchers)/launch/nao_audio_interface.launch" />
  <include file="$(find nao_interaction_launchers)/launch/nao_vision_interface.launch" />
 
  <!-- <group ns="bottom" > -->
  <!--   <include file="$(find naoqi_sensors)/launch/camera.launch" > -->
  <!--     <arg name="source" value="1" /> -->
  <!--   </include> -->
  <!-- </group>   -->

  <node pkg="jsk_robot_startup" name="nao_twitter" type="tweet.l">
    <remap from="robot_tweet" to="nao_tweet" />
    <param name="filename" value="/tmp/nao_camera.png" />
    <param name="language" value="en" />
  </node>
  <node pkg="rostwitter" name="rostwitter" type="tweet.py" />
  <node pkg="image_view" name="image_saver" type="image_saver" >
    <remap from="image" to="/nao_robot/camera/top/camera/image_raw" />
    <param name="save_all_image" value="false" />
    <param name="filename_format" value="/tmp/nao_camera.png" />
  </node>

  <node name="speaking_program_is_started_or_terminated"
        pkg="roseus" type="roseus"
        args="$(find jsk_robot_startup)/lifelog/speaking-program-is-started-or-terminated.l &quot;(progn (unix:sleep 2) (good-morning) (do-until-key (ros::spin-once)))&quot;"/>
</launch>
