<launch>
  <!-- Config for Spot -->
  <arg name="credential_config" default="/var/lib/robot/credentials/spot_credential.yaml" />
  <!-- Config for Kinova -->
  <arg name="ip_address" default="192.168.1.10" doc="IP adress of the Kinova robot" />
  <!-- Options -->
  <arg name="launch_spot_driver" default="true" />
  <arg name="launch_kortex_driver" default="true" />
  <arg name="use_realsense" default="true" />
  <arg name="rviz" default="false" doc="Set true if you want RViz." />

  <!-- launch for spot -->
  <include
      file="$(find jsk_spot_startup)/launch/jsk_spot_bringup.launch"
      if="$(arg launch_spot_driver)"
      >
      <arg name="credential_config" value="$(arg credential_config)" />
      <arg name="launch_robot_state_publisher" value="false" />
  </include>

  <!-- launch for kinova kortex driver -->
  <include
      file="$(find jsk_kinova_startup)/launch/spotkinova_kortex_bringup.launch"
      if="$(arg launch_kortex_driver)"
      >
    <arg name="ip_address" value="$(arg ip_address)" />
  </include>

  <!-- Kinova wrist realsense -->
  <include file="$(find jsk_kinova_startup)/launch/kinova_wrist_camera.launch" if="$(arg use_realsense)">
    <arg name="camera_prefix" value="kinova_wrist" />
    <arg name="serial_no" value="$(optenv RS_SERIAL_NO_KINOVA_WRIST_D435)" />
  </include>

  <!-- robot description and robot state publisher -->
  <include file="$(find jsk_spotkinova_startup)/launch/spotkinova_description.launch">
    <arg name="arm" value="gen3_lite" />
    <arg name="gripper" value="gen3_lite_2f" />
  </include>

  <!-- Rviz for kinova-->
  <include if="$(arg rviz)" file="$(find jsk_spotkinova_startup)/launch/rviz.launch" />

  <!-- Teleop for kinova-rest -->
  <node pkg="jsk_spotkinova_startup" type="kinova-rest-server.l" name="kinova_rest_server"/>
  <node pkg="jsk_spotkinova_startup" type="kinova-rest-teleop.l" name="kinova_rest_teleop"/>
</launch>
