<launch>

  <arg name="credential_config" default="$(find jsk_spot_startup)/auth/spot_credential.yaml" />
  <!-- <arg name="robot_type" default="gen3_robotiq_2f_140" doc="gen3_lite_gen3_lite_2f or gen3_robotiq_2f_85 or gen3_robotiq_2f_140"/> -->
  <arg name="ip_address" default="192.168.1.10" doc="IP adress of the Kinova robot" />
  <arg name="robot_name" default="arm_gen3" doc="Kinova robot name. Basically, this name should not be changed." />
  <arg name="arm" default="gen3_lite" doc="Use 'gen3' for gen3 robot, 'gen3_lite' for gen3 lite robot." />
  <arg name="gripper" default="robotiq_2f_140" if="$(eval arg('arm') == 'gen3')" doc="For gen3 robot" />
  <arg name="gripper" default="gen3_lite_2f" if="$(eval arg('arm') == 'gen3_lite')" doc="For gen3 lite robot"/>
  <arg name="vision" default="true" if="$(eval arg('arm') == 'gen3')" doc="Set true if you use gen3 camera module." />
  <arg name="vision" default="false" if="$(eval arg('arm') == 'gen3_lite')" doc="gen3 lite robot does not have camera module." />
  <arg name="rviz" default="false" />
  <!-- launch for spot -->
  <!-- spot driver -->
  <include
      file="$(find jsk_spot_startup)/launch/include/driver.launch"
      >
      <arg name="credential_config" value="$(arg credential_config)" />
  </include>

  <!-- <!-\- peripheral devices -\-> -->
  <!-- <include file="$(find jsk_spot_startup)/launch/include/peripheral.launch" /> -->

  <!-- <!-\- image processing -\-> -->
  <!-- <include file="$(find jsk_spot_startup)/launch/include/image_processing.launch" /> -->

  <!-- <!-\- interaction nodes -\-> -->
  <!-- <include file="$(find jsk_spot_startup)/launch/include/interaction.launch"/> -->

  <!-- <!-\- teleop node -\-> -->
  <!-- <include file="$(find jsk_spot_teleop)/launch/teleop.launch"> -->
  <!--     <arg name="pad_type" value="R1" /> -->
  <!-- </include> -->
  <!-- <include file="$(find jsk_spot_teleop)/launch/teleop.launch"> -->
  <!--     <arg name="pad_type" value="dualshock3" /> -->
  <!-- </include> -->
  
  <!-- launch for kinova -->
  <!-- main launch file-->
  <include file="$(find kortex_driver)/launch/kortex_driver.launch">
    <arg name="ip_address" value="$(arg ip_address)" />
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="start_rviz" value="false" />
    <arg name="arm" value="$(arg arm)" />
    <arg name="gripper" value="$(arg gripper)" />
    <arg name="vision" value="$(arg vision)" />
    <arg name="prefix" value="kinova_" />
  </include>

  <!-- Vision for kinova-->
  <include if="$(arg vision)" file="$(find kinova_vision)/launch/kinova_vision_rgbd.launch">
    <arg name="device" value="$(arg ip_address)" />
  </include>

  <!-- Rviz for kinova-->
  <include if="$(arg rviz)" file="$(find jsk_kinova_startup)/launch/rviz.launch" />
  
  <!-- Transform between spot and kinova -->
  <!-- The same as spotkinovaeus/robots/spot_kinova.xacro -->
  <node name="spot_to_kinova_transformer" pkg="tf" type="static_transform_publisher"
        args="0.1 0 0 0 0 0 1 front_rail kinova_base_link 100"/>

  <!-- Topic relay for joint_states  -->
  <node name="joint_states_relay_spot" pkg="topic_tools" type="relay"
        args="/joint_states /spot_kinova/joint_states" />
  <node name="joint_states_relay_kinova" pkg="topic_tools" type="relay"
        args="/arm_gen3/joint_states /spot_kinova/joint_states" />

  <param name="robot_description"
         command="$(find xacro)/xacro --inorder $(find spotkinovaeus)/robots/spot_kinova.xacro robot_type:=$(arg arm)_$(arg gripper) prefix:=kinova_"/>

</launch>
