<launch>
    <arg name="arm" default="gen3_lite" />
    <arg name="gripper" default="gen3_lite_2f" />

    <!-- robot_description -->
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder $(find jsk_spotkinova_description)/robots/jsk_spotkinova.urdf.xacro robot_type:=$(arg arm)_$(arg gripper) prefix:=kinova_"/>
    <param name="robot_description_semantic"
           command="$(find xacro)/xacro --inorder $(find jsk_spotkinova_description)/robots/jsk_spotkinova.urdf.xacro robot_type:=$(arg arm)_$(arg gripper) prefix:=kinova_"/>

    <!-- robot_state_publisher -->
    <node
      name="robot_state_publisher"
      pkg="robot_state_publisher"
      type="robot_state_publisher"
      >
      <remap from="/joint_states" to="/spotkinova/joint_states" />
    </node>

    <!-- Topic relay for joint_states  -->
    <node name="joint_states_relay_spot" pkg="topic_tools" type="relay"
          args="/joint_states /spotkinova/joint_states" />
    <node name="joint_states_relay_kinova" pkg="topic_tools" type="relay"
          args="/arm_gen3/joint_states /spotkinova/joint_states" />
</launch>
