<?xml version="1.0" ?>
<robot name="fetch" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="ros_distro" default="melodic" />
  <xacro:arg name="base_camera_mount" default="true" />
  <xacro:arg name="head_box" default="true" />

  <xacro:include filename="/etc/ros/$(arg ros_distro)/calibrated_latest.urdf" />
  <xacro:if value="$(arg base_camera_mount)">
    <xacro:include filename="$(find jsk_fetch_startup)/robots/base_camera_mount.urdf.xacro" />
  </xacro:if>
  <xacro:if value="$(arg head_box)">
    <xacro:include filename="$(find jsk_fetch_startup)/robots/head_box.urdf.xacro" />
  </xacro:if>
</robot>
