<?xml version="1.0" ?>
<robot name="fetch" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="/etc/ros/indigo/calibrated_latest.urdf" />
  <link name="base_camera_mount">
    <inertial>
      <origin rpy="0 0.523598775 0" xyz="0 0 0" />
      <mass value="0.17" />
      <inertia ixx="0.024" ixy="0.01" ixz="0.034" iyy="0.034" iyz="0.024" izz="0.01" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jsk_fetch_accessories/base_camera_mount_mk1/fetch_base_camera_mount_mk1_main.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="">
        <color rgba="0.356 0.361 0.376 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jsk_fetch_accessories/base_camera_mount_mk1/fetch_base_camera_mount_mk1_collision.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint name="base_camera_mount_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="base_camera_mount" />
    <axis xyz="0 0 1" />
  </joint>
</robot>
