<launch>
  <arg name="bagfile_name" />
  <arg name="rosbag_option" default="" />
  <arg name="rviz" default="true" />

  <include file="$(find jsk_panda_startup)/launch/dual_panda_play.xml">
    <arg name="bagfile_name" value="$(arg bagfile_name)" />
    <arg name="rosbag_option" value="$(arg rosbag_option)" />
    <arg name="rviz" value="$(arg rviz)" />
    <arg name="robot" value="$(find panda_eus)/models/dual_panda2.urdf.xacro" />
    <arg name="rvizconfig" value="$(find jsk_panda_startup)/config/rviz/dual_panda2_play.rviz" />
  </include>

  <group ns="/rarm_vision/camera/color">
    <node name="republish"
          pkg="image_transport" type="republish"
          args="compressed raw">
      <remap from="in" to="image_raw" />
      <remap from="out" to="image_raw" />
    </node>
  </group>
  <group ns="/larm_vision/camera/color">
    <node name="republish"
          pkg="image_transport" type="republish"
          args="compressed raw">
      <remap from="in" to="image_raw" />
      <remap from="out" to="image_raw" />
    </node>
  </group>
</launch>
