<?xml version="1.0" ?>
<launch>

  <!-- Arguments for panda controllers -->
  <arg name="hw_config_file" default="$(find jsk_panda_startup)/config/dual_panda_control_node.yaml" />
  <arg name="controllers_file" default="$(find jsk_panda_startup)/config/dual_panda_controllers.yaml" />
  <arg name="controllers_to_start" default="rarm_state_controller larm_state_controller dual_panda_effort_joint_trajectory_controller" />
  <arg name="joint_states_source_list" default="[rarm_state_controller/joint_states, larm_state_controller/joint_states, rarm/franka_gripper/joint_states, larm/franka_gripper/joint_states]" />

  <!-- Arguments for hand eye cameras -->
  <arg name="rarm_camera_serial_no" default="021222073873"/>
  <arg name="larm_camera_serial_no" default="017322070987"/>

  <!-- Panda controllers -->
  <include file="$(find jsk_panda_startup)/launch/dual_panda.xml">
    <arg name="robot" value="$(find panda_eus)/models/dual_panda2.urdf.xacro" />
    <arg name="hw_config_file" value="$(arg hw_config_file)" />
    <arg name="controllers_file" value="$(arg controllers_file)" />
    <arg name="controllers_to_start" value="$(arg controllers_to_start)" />
    <arg name="joint_states_source_list" value="$(arg joint_states_source_list)" />
  </include>

  <!-- Hand eye cameras -->
  <group ns="rarm_vision">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="device_type"       value="d435" />
      <arg name="serial_no"         value="$(arg rarm_camera_serial_no)" />
      <arg name='usb_port_id'       value="" />
      <arg name="tf_prefix"         value="rarm_camera" />
      <arg name="initial_reset"     value="true" />
      <arg name='filters'           value='pointcloud' />
      <arg name="color_width"       value="1920" />
      <arg name="color_height"      value="1080" />
      <arg name="depth_width"       value="1280" />
      <arg name="depth_height"      value="720" />
      <arg name="clip_distance"     value="-2" />
    </include>
    <!-- FIXME: When subscribing compressedDepth, hz of image_raw drops if png_level is more than 5.      -->
    <!--        CPU usage of compressedDepth creation seems too high.                                     -->
    <!--        CPU% of nodelet_manager on htop is over 100% even when only compressedDepth is subscribed -->
    <!--        CPU: AMD Ryzen 9 5900X 12-Core Processor                                                  -->
    <param name="camera/depth/image_rect_raw/compressedDepth/png_level" value="5" />
  </group>

  <group ns="larm_vision">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="device_type"       value="d435" />
      <arg name="serial_no"         value="$(arg larm_camera_serial_no)" />
      <arg name='usb_port_id'       value="" />
      <arg name="tf_prefix"         value="larm_camera" />
      <arg name="initial_reset"     value="true" />
      <arg name='filters'           value='pointcloud' />
      <arg name="color_width"       value="1920" />
      <arg name="color_height"      value="1080" />
      <arg name="depth_width"       value="1280" />
      <arg name="depth_height"      value="720" />
      <arg name="clip_distance"     value="-2" />
    </include>
    <!-- FIXME: When subscribing compressedDepth, hz of image_raw drops if png_level is more than 5.      -->
    <!--        CPU usage of compressedDepth creation seems too high.                                     -->
    <!--        CPU% of nodelet_manager on htop is over 100% even when only compressedDepth is subscribed -->
    <!--        CPU: AMD Ryzen 9 5900X 12-Core Processor                                                  -->
    <param name="camera/depth/image_rect_raw/compressedDepth/png_level" value="5" />
  </group>

</launch>
