<launch>
  <arg name="save_dir" default="/tmp/panda_rosbag"/>
  <arg name="bagfile_prefix" default="data" />
  <arg name="other_topics" default=""/>
  <arg name="quiet" default="true"/>
  <arg name="machine" default="localhost" />

  <include file="$(find jsk_panda_startup)/launch/dual_panda_record.xml">
    <arg name="save_dir" value="$(arg save_dir)" />
    <arg name="bagfile_prefix" value="$(arg bagfile_prefix)" />
    <arg name="quiet" value="$(arg quiet)" />
    <arg name="machine" value="$(arg machine)" />
    <arg name="other_topics" value="$(arg other_topics)
                                    /audio
                                    /head_camera/depth/camera_info
                                    /head_camera/depth/image_raw/compressedDepth
                                    /head_camera/rgb/camera_info
                                    /head_camera/rgb/image_raw/compressed
                                    /right_camera/camera_info
                                    /right_camera/image_raw/compressed
                                    /left_camera/camera_info
                                    /left_camera/image_raw/compressed
                                    " />
  </include>
</launch>
