<?xml version="1.0" ?>

<launch>
  <arg name="robot_ip"     default="192.168.0.2"/>
  <arg name="robot"        default="fr3" />
  <arg name="arm_id"       default="$(arg robot)" />
  <arg name="load_gripper" default="true" />
  <arg name="xacro_args"   default="" />

  <include file="$(find jsk_panda_startup)/launch/franka.launch">
    <arg name="robot_ip"     value="$(arg robot_ip)" />
    <arg name="robot"        value="$(arg robot)" />
    <arg name="arm_id"       value="$(arg arm_id)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
    <arg name="xacro_args"   value="$(arg xacro_args)" />
  </include>
</launch>
