<launch>
  <arg name="USE_STEREO" default="false" />
  <arg name="CAMERA" default="/multisense_sl/camera/left" />
  <arg name="POINTS_TOPIC" default="/laser/full_cloud2_raw" />
  <arg name="USE_VIEW" default="true" />

  <!-- use stereo camera -->
  <include if="$(arg USE_STEREO)"
           file="$(find jsk_pcl_ros)/launch/pointcloud_screenpoint.launch" >
    <arg name="USE_VIEW" value="$(arg USE_VIEW)" />
    <arg name="USE_DEPTH_CREATER" value="false" />
    <arg name="image"  value="/multisense_sl/camera/left" />
    <arg name="points" value="/multisense_sl/camera/points2" />
  </include>

  <!-- use tilt laser -->
  <include unless="$(arg USE_STEREO)"
           file="$(find jsk_pcl_ros)/launch/pointcloud_screenpoint.launch" >
    <arg name="USE_VIEW" value="$(arg USE_VIEW)" />
    <arg name="USE_DEPTH_CREATER" value="true" />
    <arg name="USE_REGISTERED_DEPTH" value="true" />
    <arg name="image"  value="$(arg CAMERA)" />
    <arg name="points" value="$(arg POINTS_TOPIC)" />
  </include>
</launch>
