[Unit]
Description=JSK Network Service

[Service]
Type=simple
ExecStart=/bin/bash -c ". /opt/ros/melodic/setup.bash && . /home/sktometometo/ros/ws_main_extend/devel/setup.bash && rosrun jsk_spot_startup update-network-connection.sh"
ExecStop=/bin/kill -WINCH ${MAINPID}
KillMode=control-group
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
