[Unit]
Description=JSK Spot Network Service

[Service]
Type=simple
ExecStart=/var/lib/robot/update-network-connection.sh
ExecStop=/bin/kill -WINCH ${MAINPID}
KillMode=control-group
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
