<launch>
  <arg name="use_imu" default="false"/>
  <arg name="use_slam_feedback" default="false"/>  
  
  <!-- viso -->
  <include file="$(find jsk_robot_startup)/launch/viso.launch">
    <arg name="stereo" default="multisense" />
    <arg name="image" default="image_rect" />
    <arg name="use_robot_pose_ekf" default="false" />
    <arg name="publish_viso_tf" default="true" />
    <arg name="invert_viso_tf" default="true" /> 
  </include>

  <!-- odometry offset to adjust origin to odom_init -->
  <node pkg="jsk_robot_startup" type="odometry_offset.py" name="biped_odometry_offset"
        output="screen" >
    <remap from="~source_odom" to="/odom" />
    <remap from="~output" to="/biped_odom_offset" />
    <remap from="~init_signal" to="/odom_init_trigger" />
    <param name="~base_odom_frame" value="/odom_init" />
    <param name="~odom_frame" value="biped_odom_offset" />
    <param name="~base_link_frame" value="BODY" />     
  </node>

  <node pkg="jsk_robot_startup" type="odometry_offset.py" name="viso_odometry_offset"
        output="screen" >
    <remap from="~source_odom" to="/viso_odom" />
    <remap from="~output" to="/viso_odom_offset" />
    <remap from="~init_signal" to="/odom_init_trigger" />    
    <param name="~base_odom_frame" value="/odom_init" />
    <param name="~odom_frame" value="viso_odom_offset" />
    <param name="~base_link_frame" value="BODY" />
  </node>

  <!-- odometry feedback to prevent drift -->
  <node pkg="jsk_robot_startup" type="odom_feedback_wrapper.py" name="viso_odom_calculator"
        output="screen" >
    <remap from="~init_signal" to="/odom_init_trigger" />
    <remap from="~source_odom" to="/viso_odom_offset" />
    <remap from="~feedback_odom" to="/slam_odom" if="$(arg use_slam_feedback)"/>
    <remap from="~feedback_odom" to="/biped_odom_particle" unless="$(arg use_slam_feedback)"/>
    <remap from="~output" to="/viso_odom_integrated" />
    <param name="~odom_frame" value="viso_odom_integrated" />
    <param name="~base_link_frame" value="BODY" /> 
    <param name="~rate" value="10" />
    <param name="~sigma_x" value="1.0" />
    <param name="~sigma_y" value="1.0" />
    <param name="~sigma_z" value="1.0" />
    <param name="~sigma_roll" value="0.5" />
    <param name="~sigma_pitch" value="0.5" />
    <param name="~sigma_yaw" value="0.5" />
    <param name="~twist_proportional_sigma" value="true" />
    <param name="~force_feedback_sigma" value="1.0" />
    <param name="~distribution_feedback_minimum_sigma" value="0.1" />
    <param name="~max_feedback_time" value="0" />    
  </node>

  <!-- odometry integration with particle filter -->  
  <node pkg="jsk_robot_startup" type="particle_odometry.py" name="biped_particle_odometry"
        output="screen">
    <remap from="~source_odom" to="/biped_odom_offset" />
    <remap from="~measure_odom" to="/viso_odom_integrated" />
    <remap from="~output" to="/biped_odom_particle" />
    <remap from="~init_signal" to="/odom_init_trigger" />
    <remap from="~imu" to="/imu" />
    <param name="~odom_init_frame" value="/odom_init" />
    <param name="~odom_frame" value="biped_odom_particle" />
    <param name="~base_link_frame" value="BODY" />
    <param name="~particle_num" value="20" /> 
    <param name="~rate" value="100" />
    <param name="~publish_tf" value="false" />
    <param name="~use_imu" value="$(arg use_imu)" />
  </node>

  <!-- make biped_odom_particle->odom_init transform to use biped_odom_particle in gmapping  -->
  <node pkg="jsk_robot_startup" type="OdomDiffTransformPublisher.py" name="biped_odom_particle_diff_transform_publisher" output="screen">
    <remap from="~input_odom" to="/biped_odom_particle" />
    <param name="~target_frame" value="biped_odom_particle" />
    <param name="~intermediate_frame" value="odom_init" />
    <param name="~base_frame" value="BODY" />
  </node>

  <!-- convert map->base_link transform to odometry msg and use in feedback if use_slam_feedback is true -->
  <node pkg="jsk_robot_startup" type="SlamMapTfToOdometry.py" name="slam_map_to_odometry"
        output="screen">
    <remap from="~output" to="/slam_odom" />
    <remap from="~map" to="/map" />
    <remap from="~base_odom" to="/biped_odom_particle" />      
    <param name="~rate" value="10" />
    <param name="~map_frame" value="/map"/>
  </node>
  
</launch>
