<launch>
  <machine name="localhost" address="localhost" />

  <arg name="machine" default="localhost" />
  <arg name="odom_topic" default="/odom_teleop" />
  <arg name="joy_topic" default="/joy_vel" />
  <arg name="navigation_topic" default="/navigation/cmd_vel" />
  <arg name="input_topic" default="/input_vel" />
  <arg name="base_controller_topic" default="/base_controller/cmd_vel" />

  <!-- input mux: ($(arg joy_topic) & $(arg input_topic)) -> /teleop/cmd_vel/unsafe -->
  <node name="input_vel_mux" pkg="topic_tools" type="mux"
        respawn="true" machine="$(arg machine)"
	args="/teleop/cmd_vel/unsafe $(arg input_topic) $(arg joy_topic)">
    <remap from="mux" to="input_vel_mux" />
  </node>
  <!-- input mux selector with PS3 L1 button -->
  <node name="input_vel_selector" pkg="jsk_robot_startup" type="mux_selector.py"
	respawn="true" machine="$(arg machine)"
	args="/joy 'm.buttons[10]==1' $(arg joy_topic) /joy 'm.buttons[10]==0' $(arg input_topic)">
    <remap from="mux" to="input_vel_mux" />
    <param name="default_select" value="$(arg input_topic)" />
    <param name="wait" value="true" />
  </node>

  <!-- /teleop/cmd_vel/unsafe -> /teleop/cmd_vel/safe -->
  <node name="safe_teleop_base" pkg="safe_teleop_base" type="safe_teleop_base"
        machine="$(arg machine)" >
    <remap from="/odom" to="$(arg odom_topic)"/>
    <remap from="base_velocity" to="/teleop/cmd_vel/unsafe" />
    <remap from="~safe_vel"     to="/teleop/cmd_vel/safe" />
  </node>

  <!-- unsafe mux: (/teleop/cmd_vel/unsafe & /teleop/cmd_vel/safe) -> /teleop/cmd_vel -->
  <node name="unsafe_vel_mux" pkg="topic_tools" type="mux"
        respawn="true" machine="$(arg machine)"
	args="/teleop/cmd_vel /teleop/cmd_vel/safe /teleop/cmd_vel/unsafe">
    <remap from="mux" to="unsafe_vel_mux" />
  </node>
  <!-- unsafe mux selector with PS3 R2 button -->
  <node name="unsafe_vel_selector" pkg="jsk_robot_startup" type="mux_selector.py"
	respawn="true" machine="$(arg machine)"
	args="/joy 'm.buttons[9]==1' /teleop/cmd_vel/unsafe /joy 'm.buttons[9]==0' /teleop/cmd_vel/safe">
    <remap from="mux" to="unsafe_vel_mux" />
    <param name="default_select" value="/teleop/cmd_vel/safe" />
    <param name="wait" value="true" />
  </node>

  <!-- vel type mux: (/teleop/cmd_vel & $(arg navigation_topic) & $(arg base_controller_topic)) -> /base_controller/command_unchecked -->
  <node pkg="topic_tools" type="mux" name="vel_type_mux"
        respawn="true" machine="$(arg machine)"
        args="/base_controller/command_unchecked /teleop/cmd_vel $(arg navigation_topic) $(arg base_controller_topic)">
    <remap from="mux" to="vel_type_mux" />
  </node>
  <!-- vel type mux with PS3 L1 button -->
  <node pkg="jsk_robot_startup" type="mux_selector.py" name="vel_type_selector"
        respawn="true" output="screen" machine="$(arg machine)"
        args="/teleop/cmd_vel 'True' /teleop/cmd_vel $(arg navigation_topic) 'True' $(arg navigation_topic) $(arg base_controller_topic) 'True' $(arg base_controller_topic)">
    <remap from="mux" to="vel_type_mux" />
    <param name="default_select" value="/teleop/cmd_vel"/>
    <param name="wait" value="true" />
    <rosparam subst_value="true">
      topics:
        - name: /teleop/cmd_vel
          type: geometry_msgs/Twist
        - name: $(arg navigation_topic)
          type: geometry_msgs/Twist
        - name: $(arg base_controller_topic)
          type: geometry_msgs/Twist
    </rosparam>
  </node>

</launch>
