<launch>
    <arg name="receiver_address" />
    <arg name="email_info_yaml" default="/var/lib/robot/email_info.yaml" />

    <node pkg="jsk_robot_startup" type="email_topic.py" name="email_topic" output="screen">
        <rosparam subst_value="true">
            email_info: $(arg email_info_yaml)
        </rosparam>
    </node>

    <node pkg="jsk_robot_startup" type="sample-email-topic-client.l" name="sample_email_topic_client"
        output="screen">
        <rosparam subst_value="true">
            receiver_address: "$(arg receiver_address)"
        </rosparam>
    </node>
</launch>
