<launch>
    <!-- behahvior_executor_server for autonomous walking -->
    <node
        pkg="jsk_spot_behavior_manager"
        type="behavior_manager_server.py"
        name="behavior_manager_server"
        output="screen"
        >

        <rosparam
            ns="map"
            file="$(find jsk_spot_behavior_manager)/behavior_graph/simple_behavior_graph.yaml"
            subst_value="true"
            />

        <rosparam subst_value="true">
            initial_node_id: 'nodeA'
            silent_mode: true
        </rosparam>
    </node>
</launch>
