<launch>
  <arg name="username" default="dummyusername" />
  <arg name="password" default="dummypassword" />
  <arg name="hostname" default="192.168.50.3" />

  <arg name="pad_type" default="R1" /> <!-- Option: dualshock3, R1 -->

  <!-- spot driver -->
  <include
      file="$(find jsk_spot_startup)/launch/include/driver.launch"
      >
      <arg name="username" value="$(arg username)" />
      <arg name="password" value="$(arg password)" />
      <arg name="hostname" value="$(arg hostname)" />
  </include>

  <!-- peripheral devices -->
  <include
      file="$(find jsk_spot_startup)/launch/include/peripheral.launch"
      />

  <!-- image processing -->
  <include
      file="$(find jsk_spot_startup)/launch/include/image_processing.launch"
      />

  <!-- interaction nodes -->
  <include
      file="$(find jsk_spot_startup)/launch/include/interaction.launch"
      />

  <!-- teleop node -->
  <include
      file="$(find jsk_spot_teleop)/launch/teleop.launch"
      >
      <arg name="pad_type" value="R1" />
  </include>
  <include
      file="$(find jsk_spot_teleop)/launch/teleop.launch"
      >
      <arg name="pad_type" value="dualshock3" />
  </include>
</launch>
