<launch>
  <arg name="gpu" default="0" />
  <arg name="use_object_detector" default="true" />
  <arg name="input_panorama_image" default="/dual_fisheye_to_panorama/output/quater" />
  <arg name="input_class" default="/edgetpu_panorama_object_detector/output/class" />
  <arg name="input_rects" default="/edgetpu_panorama_object_detector/output/rects" />

  <!-- use_object_detector: true -->
  <node name="ssd_object_detector"
      pkg="jsk_perception" type="ssd_object_detector.py"
      if="$(arg use_object_detector)">
    <remap from="~input_panorama_image" to="$(arg input_panorama_image)" />
    <rosparam subst_value="true">
      gpu: $(arg gpu)
    </rosparam>
    <param name="model_path" value="voc0712" />
  </node>
  <node name="deep_sort_tracker"
        pkg="jsk_perception" type="deep_sort_tracker_node.py"
        output="screen"
      clear_params="true"
      if="$(arg use_object_detector)">
    <remap from="~input" to="$(arg input_panorama_image)" />
    <remap from="~input/rects" to="ssd_object_detector/output/rect" />
    <remap from="~input/class" to="ssd_object_detector/output/class" />
    <rosparam subst_value="true">
      gpu: $(arg gpu)
      pretrained_model: $(find jsk_perception)/trained_data/deepsort_chainermodel.npz
    </rosparam>
  </node>

  <!-- use_object_detector: false -->
  <node name="deep_sort_tracker"
        pkg="jsk_perception" type="deep_sort_tracker_node.py"
        output="screen"
      clear_params="true"
      unless="$(arg use_object_detector)">
    <remap from="~input" to="$(arg input_panorama_image)" />
    <remap from="~input/rects" to="$(arg input_class)" />
    <remap from="~input/class" to="$(arg input_rects)" />
    <rosparam subst_value="true">
      gpu: $(arg gpu)
      pretrained_model: $(find jsk_perception)/trained_data/deepsort_chainermodel.npz
      approximate_sync: True
      slop: 0.3
    </rosparam>
  </node>
</launch>
