<launch>
    <arg name="use_insta_360" default="true"/>

    <include if="$(arg use_insta_360)" file="$(find jsk_perception)/sample/sample_insta360_air.launch" >
        <arg name="gui" value="false" />
        <arg name="brightness" value="128" />
    </include>

    <!-- image proc -->
    <node
        pkg="nodelet"
        type="nodelet"
        name="panorama_image_resize"
        args="standalone image_proc/resize">
        <param name="scale_height" value="0.5" />
        <param name="scale_width" value="0.5" />
        <remap from="image" to="/dual_fisheye_to_panorama/output" />
        <remap from="~image" to="/dual_fisheye_to_panorama/output/quater" />
    </node>

</launch>
