<launch>
    <arg name="rosbag" doc="rosbag file path" />

    <node name="rosbag_record" pkg="rosbag" type="record"
        args="-O $(arg rosbag) -b 0
            /rosout
            /rosout_agg
            /diagnostics
            /tf
            /tf_static
            /spot/body_pose
            /spot/camera/back/camera_info
            /spot/camera/back/image
            /spot/camera/frontleft/camera_info
            /spot/camera/frontleft/image
            /spot/camera/frontright/camera_info
            /spot/camera/frontright/image
            /spot/camera/left/camera_info
            /spot/camera/left/image
            /spot/camera/right/camera_info
            /spot/camera/right/image
            /spot/cmd_vel
            /spot/depth/back/camera_info
            /spot/depth/back/image
            /spot/depth/frontleft/camera_info
            /spot/depth/frontleft/image
            /spot/depth/frontright/camera_info
            /spot/depth/frontright/image
            /spot/depth/left/camera_info
            /spot/depth/left/image
            /spot/depth/right/camera_info
            /spot/depth/right/image
            /spot/navigate_to/cancel
            /spot/navigate_to/feedback
            /spot/navigate_to/goal
            /spot/navigate_to/result
            /spot/navigate_to/status
            /spot/odometry
            /spot/odometry/twist
            /spot/status/battery_states
            /spot/status/behavior_faults
            /spot/status/estop
            /spot/status/feedback
            /spot/status/feet
            /spot/status/leases
            /spot/status/metrics
            /spot/status/power_state
            /spot/status/system_faults
            /spot/status/wifi
            "
        output="screen" />
</launch>
