<launch>
    <arg name="rosbag" doc="rosbag file path" />
    <arg name="use_compress" default="true" />

    <!-- Image compression nodes -->
    <node
        pkg="image_transport"
        type="republish"
        name="panorama_compress"
        args="raw in:=/dual_fisheye_to_panorama/output compressed out:=/dual_fisheye_to_panorama/output"
        if="$(arg use_compress)"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="back_camera_compress"
        args="raw in:=/spot/camera/back/image compressed out:=/spot/camera/back/image"
        if="$(arg use_compress)"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="frontleft_camera_compress"
        args="raw in:=/spot/camera/frontleft/image compressed out:=/spot/camera/frontleft/image"
        if="$(arg use_compress)"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="frontright_camera_compress"
        args="raw in:=/spot/camera/frontright/image compressed out:=/spot/camera/frontright/image"
        if="$(arg use_compress)"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="left_camera_compress"
        args="raw in:=/spot/camera/left/image compressed out:=/spot/camera/left/image"
        if="$(arg use_compress)"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="right_camera_compress"
        args="raw in:=/spot/camera/right/image compressed out:=/spot/camera/right/image"
        if="$(arg use_compress)"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="back_depth_compress"
        args="raw in:=/spot/depth/back/image compressedDepth out:=/spot/depth/back/image"
        if="$(arg use_compress)"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="frontleft_depth_compress"
        args="raw in:=/spot/depth/frontleft/image compressedDepth out:=/spot/depth/frontleft/image"
        if="$(arg use_compress)"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="frontright_depth_compress"
        args="raw in:=/spot/depth/frontright/image compressedDepth out:=/spot/depth/frontright/image"
        if="$(arg use_compress)"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="left_depth_compress"
        args="raw in:=/spot/depth/left/image compressedDepth out:=/spot/depth/left/image"
        if="$(arg use_compress)"
        />
    <node
        pkg="image_transport"
        type="republish"
        name="right_depth_compress"
        args="raw in:=/spot/depth/right/image compressedDepth out:=/spot/depth/right/image"
        if="$(arg use_compress)"
        />

    <!-- rosbag recording with compressed images -->
    <node name="rosbag_record" pkg="rosbag" type="record" if="$(arg use_compress)"
        args="-O $(arg rosbag) -b 0
            /rosout
            /rosout_agg
            /diagnostics
            /tf
            /tf_static
            /dual_fisheye_to_panorama/output/compressed
            /dual_fisheye_to_panorama/panorama_info
            /spot/body_pose
            /spot/camera/back/camera_info
            /spot/camera/back/image/compressed
            /spot/camera/frontleft/camera_info
            /spot/camera/frontleft/image/compressed
            /spot/camera/frontright/camera_info
            /spot/camera/frontright/image/compressed
            /spot/camera/left/camera_info
            /spot/camera/left/image/compressed
            /spot/camera/right/camera_info
            /spot/camera/right/image/compressed
            /spot/cmd_vel
            /spot/depth/back/camera_info
            /spot/depth/back/image/compressedDepth
            /spot/depth/frontleft/camera_info
            /spot/depth/frontleft/image/compressedDepth
            /spot/depth/frontright/camera_info
            /spot/depth/frontright/image/compressedDepth
            /spot/depth/left/camera_info
            /spot/depth/left/image/compressedDepth
            /spot/depth/right/camera_info
            /spot/depth/right/image/compressedDepth
            /spot/navigate_to/cancel
            /spot/navigate_to/feedback
            /spot/navigate_to/goal
            /spot/navigate_to/result
            /spot/navigate_to/status
            /spot/odometry
            /spot/odometry/twist
            /spot/status/battery_states
            /spot/status/behavior_faults
            /spot/status/estop
            /spot/status/feedback
            /spot/status/feet
            /spot/status/leases
            /spot/status/metrics
            /spot/status/power_state
            /spot/status/system_faults
            /spot/status/wifi
            "
        output="screen" />

    <!-- rosbag recording with raw images -->
    <node name="rosbag_record" pkg="rosbag" type="record" unless="$(arg use_compress)"
        args="-O $(arg rosbag) -b 0
            /rosout
            /rosout_agg
            /diagnostics
            /tf
            /tf_static
            /dual_fisheye_to_panorama/output
            /dual_fisheye_to_panorama/panorama_info
            /spot/body_pose
            /spot/camera/back/camera_info
            /spot/camera/back/image
            /spot/camera/frontleft/camera_info
            /spot/camera/frontleft/image
            /spot/camera/frontright/camera_info
            /spot/camera/frontright/image
            /spot/camera/left/camera_info
            /spot/camera/left/image
            /spot/camera/right/camera_info
            /spot/camera/right/image
            /spot/cmd_vel
            /spot/depth/back/camera_info
            /spot/depth/back/image
            /spot/depth/frontleft/camera_info
            /spot/depth/frontleft/image
            /spot/depth/frontright/camera_info
            /spot/depth/frontright/image
            /spot/depth/left/camera_info
            /spot/depth/left/image
            /spot/depth/right/camera_info
            /spot/depth/right/image
            /spot/navigate_to/cancel
            /spot/navigate_to/feedback
            /spot/navigate_to/goal
            /spot/navigate_to/result
            /spot/navigate_to/status
            /spot/odometry
            /spot/odometry/twist
            /spot/status/battery_states
            /spot/status/behavior_faults
            /spot/status/estop
            /spot/status/feedback
            /spot/status/feet
            /spot/status/leases
            /spot/status/metrics
            /spot/status/power_state
            /spot/status/system_faults
            /spot/status/wifi
            "
        output="screen" />
</launch>
