<launch>
  <arg name="config_type" default="spot" />

  <node
      pkg="rviz"
      type="rviz"
      name="rviz"
      args="-d $(find jsk_spot_startup)/config/$(arg config_type).rviz"
      />

  <node
      pkg="jsk_spot_startup"
      type="battery_visualizer.py"
      name="battery_visualizer"
      />
</launch>
