<launch>
  <include file="$(find openni_camera)/launch/openni_node.launch" /> 
  <node pkg="tf" type="static_transform_publisher" name="head_to_kinect_rgb" 
	args="0.022 0.04 0.15 0 -0.02 0 /head_plate_frame /openni_camera 10" />

  <node name="kinect_throttle" pkg="topic_tools" type="throttle"
	args="messages /camera/rgb/points 3.0" />

  <!-- <node pkg="pr2_navigation_self_filter" type="self_filter" -->
  <!-- 	name="kinect_self_filter" respawn="true" output="screen"> -->
  <!--   <remap from="cloud_in" to="/camera/rgb/points_throttle" /> -->
  <!--   <remap from="cloud_out" to="kinect_rgb_filtered" /> -->
  <!--   <rosparam command="load" file="$(find jsk_pr2_startup)/jsk_pr2_sensors/tilt_self_filter.yaml" /> -->
  <!--   <param name="sensor_frame" type="string" value="/kinect_rgb" /> -->
  <!-- </node> -->
</launch>
