<launch>
  <arg name="MACHINE_NAME" default="remote"/>
  <node pkg="jsk_topic_tools" type="relay" name="tf_relay_$(arg MACHINE_NAME)">
    <remap from="~input" to="/tf" />
    <remap from="~output" to="/tf_$(arg MACHINE_NAME)" />
  </node>
  <group>
    <remap from="/tf" to="/tf_$(arg MACHINE_NAME)"/>
    <remap from="/rosout" to="/rosout_$(arg MACHINE_NAME)"/>
    <include file="$(find jsk_pcl_ros)/launch/openni_remote.launch">
      <arg name="camera" value="openni"/>
      <arg name="camera_remote" value="openni_$(arg MACHINE_NAME)"/>
    </include>
  </group>
</launch>
