<launch>
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />

  <node pkg="pr2_navigation_self_filter"
	type="self_filter_color" clear_params="true"
	name="openni_cloud_self_filter" respawn="true" output="screen">
    <!-- The topic for the input cloud -->
    <remap from="cloud_in" to="/openni/depth_registered/points" />
    <!-- The topic for the output cloud -->
    <remap from="cloud_out" to="/openni/depth_registered/points_self_filtered" />
    <!-- The frame of the sensor used to obtain the data to be
	 filtered; This parameter is optional. If it is not specified,
	 shadow points will be considered outside -->
    <!--param name="sensor_frame" type="string" value="laser_tilt_link" /-->
    <!-- Minimum distance to sensor (for point not to be considered inside)-->
    <param name="subsample_value" type="double" value="0.0"/>
    <!-- The names of the links the sensor can see -->
    <rosparam command="load" file="$(find jsk_pr2_startup)/jsk_pr2_sensors/tilt_self_filter.yaml" />
  </node>

  <!-- send additional description parameters -->
  <include file="$(find pr2_arm_navigation_config)/launch/pr2_planning_environment.launch" />

</launch>