<launch>
  <arg name="launch_tf_buffer" default="true" />
  <arg name="launch_pcl_roi" default="true" />
  <arg name="launch_image_resized" default="true" />
  <arg name="launch_image_roi" default="true" />
  <arg name="launch_interactive_controller" default="true" />

  <!-- for tf topic buffer server -->
  <include if="$(arg launch_tf_buffer)"
      file="$(find jsk_topic_tools)/launch/tf_buffer_server.launch"/>

  <!-- for pcl roi -->
  <include if="$(arg launch_pcl_roi)"
      file="$(find jsk_pcl_ros)/launch/pcl_roi_robot.launch">
    <arg name="USE_LHAND_POINTCLOUD" value="false"/>
    <arg name="USE_RHAND_POINTCLOUD" value="false"/>
    <arg name="USE_HEAD_POINTCLOUD" value="true"/>
    <arg name="HEAD_SELECTED" default="/head_pointcloud_selected"/>
    <arg name="HEAD_TOPIC" default="/openni/depth_registered/points"/>
    <arg name="BASE_FRAME" value="/base_link"/>
  </include>

  <!-- for image resized -->
  <include if="$(arg launch_image_resized)"
	   file="$(find jsk_pr2_startup)/jsk_pr2_image_transport/pr2_image_transport.launch"/>

  <!-- for image roi -->
  <include if="$(arg launch_image_roi)"
	   file="$(find jsk_pr2_startup)/jsk_pr2_image_transport/pr2_roi_transport.launch"/>

  <!-- for interactive controller -->
  <node if="$(arg launch_interactive_controller)"
	pkg="roseus" type="roseus" name="move_joint_interface_for_im"
	args="$(find jsk_interactive)/euslisp/move-joint-interface-robot.l">
    <param name="robot" value="PR2"/>
  </node>
</launch>