<launch>
  <arg name="REMOTE_TF" default="/tf_low_frequency"/>
  <arg name="launch_tf_buffer" default="true" />
  <arg name="launch_pcl_roi" default="true" />
  <arg name="launch_image_resized" default="true" />
  <arg name="launch_image_roi" default="true" />
  <arg name="launch_interactive_controller" default="true" />

  <remap from="/output" to="/output_remote"/>
  <!-- for tf topic buffer server -->
  <group if="$(arg launch_tf_buffer)">
    <include file="$(find jsk_topic_tools)/launch/robot_tf_buffer_client.launch">
      <arg name="REMOTE_TF" value="$(arg REMOTE_TF)"/>
    </include>
  </group>

  <!-- for pcl roi -->
  <include if="$(arg launch_pcl_roi)"
      file="$(find jsk_pcl_ros)/launch/pcl_roi_remote.launch">
    <arg name="REMOTE_TF" value="$(arg REMOTE_TF)"/>
    <arg name="USE_LHAND_POINTCLOUD" value="false"/>
    <arg name="USE_RHAND_POINTCLOUD" value="false"/>
    <arg name="ROI_MARKER_BASEFRAME" value="/base_link"/>
  </include>

  <!-- for image resized -->
  <include if="$(arg launch_image_resized)"
	   file="$(find jsk_pr2_startup)/jsk_pr2_image_transport/pr2_all_viewer.launch"/>

  <!-- for image roi -->
  <include if="$(arg launch_image_roi)"
	   file="$(find jsk_pr2_startup)/jsk_pr2_image_transport/pr2_roi_viewer.launch"/>

  <!-- for interactive controller -->
  <include if="$(arg launch_interactive_controller)"
	   file="$(find jsk_interactive_marker)/launch/interactive_marker_controller_remote.launch">
    <arg name="REMOTE_TF" value="$(arg REMOTE_TF)"/>
  </include>

</launch>