<launch>
  <node name="tablet_receiver_default" pkg="jsk_smart_gui" respawn="true"
        type="tablet_receiver.l" output="screen" args="(execute-main)" >
    <param name="~ray_srv" value="/pointcloud_screenpoint_nodelet/screen_to_point"/>
  </node>

  <node pkg="image_view2" name="image_view2_for_tablet"
        type="image_view2" output="screen" respawn="true">
    <remap from="image" to="/image_input_mux"/>
    <remap from="camera_info" to="/camera_info_input_mux"/>
    <remap from="image_marked" to="/openni/marked/image_raw"/>
    <param name="blurry" value="true"/>
    <param name="use_window" value="false"/>
  </node>

  <node pkg="topic_tools" type="mux" output="screen"
	name="mux_for_image"
        args="image_input_mux
	      /openni/rgb/image_rect_color
	      /wide_stereo/right/image_rect_color
	      /wide_stereo/left/image_rect_color
	      /narrow_stereo/right/image_rect_color
	      /narrow_stereo/left/image_rect_color
	      /r_forearm_cam/image_rect_color
	      /l_forearm_cam/image_rect_color ">
    <remap from="mux" to="image_mux"/>
  </node>

  <node pkg="topic_tools" type="mux" output="screen"
	name="mux_for_camera_info"
        args="camera_info_input_mux
	      /openni/rgb/camera_info
	      /wide_stereo/right/camera_info
	      /wide_stereo/left/camera_info
	      /narrow_stereo/right/camera_info
	      /narrow_stereo/left/camera_info
	      /r_forearm_cam/camera_info
	      /l_forearm_cam/camera_info ">
    <remap from="mux" to="camera_info_mux"/>
  </node>

  <node pkg="topic_tools" type="mux" output="screen"
	name="mux_for_points"
        args="points_input_mux
	      /openni/depth_registered/points
	      /tilt_laser_cloud2">
    <remap from="mux" to="points_mux"/>
  </node>

  <node pkg="topic_tools" type="mux" respawn="true"
	name="marked_camera_info"
        args="/openni/marked/camera_info /camera_info_input_mux">
    <remap from="mux" to="marked_camera_info_mux"/>
  </node>

  <node ns="/openni/marked" pkg="image_proc" type="image_proc"
        respawn="true" name="marked_image_proc"/>

  <node name="kinect_marked_image_throttle" pkg="topic_tools" type="throttle"
        args="messages /openni/marked/image_rect_color/compressed 5.0" />

</launch>
