<launch>
  <!-- assmble and snapshot node for laser -->
  <node type="laser_scan_assembler" pkg="laser_assembler"
        name="tilt_scan_assembler" respawn="true">
    <remap from="scan" to="tilt_scan"/>
    <param name="max_scans" type="int" value="400" />
    <param name="fixed_frame" type="string" value="base_link" />
    <param name="ignore_laser_skew" type="bool" value="true" />
  </node>

  <node pkg="pr2_laser_snapshotter" type="pr2_laser_snapshotter"
	output="screen" name="tilt_laser_snapshotter" respawn="true">
    <remap from="laser_scanner_signal"
           to="/laser_tilt_controller/laser_scanner_signal"/>
    <remap from="full_cloud" to="tilt_laser_cloud" />
    <param name="num_skips" value="1" />
  </node>

  <!-- convert PointCloud to PointCloud2 -->
  <node pkg="point_cloud_converter" type="point_cloud_converter"
	output="screen" name="tilt_laser_cloud_to_cloud2">
    <remap from="points_in" to="tilt_laser_cloud" />
    <remap from="points2_out" to="tilt_laser_cloud2" />
  </node>
</launch>

