<launch>
  <include file="$(find nao_bringup)/launch/nao_full.launch" >
    <arg name="force_python" value="true"/>
  </include>
  <include file="$(find nao_apps)/launch/speech.launch" />
  <include file="$(find nao_interaction_launchers)/launch/nao_audio_interface.launch" />
  <include file="$(find nao_interaction_launchers)/launch/nao_vision_interface.launch" />
 
  <!-- <group ns="bottom" > -->
  <!--   <include file="$(find naoqi_sensors)/launch/camera.launch" > -->
  <!--     <arg name="source" value="1" /> -->
  <!--   </include> -->
  <!-- </group>   -->

  <node pkg="jsk_robot_startup" name="nao_twitter" type="tweet.l">
    <remap from="robot_tweet" to="nao_tweet" />
    <param name="filename" value="/tmp/nao_camera.png" />
    <param name="language" value="en" />
  </node>
  <node pkg="rostwitter" name="rostwitter" type="tweet.py" />
  <node pkg="image_view" name="image_saver" type="image_saver" >
    <remap from="image" to="/nao_robot/camera/top/camera/image_raw" />
    <param name="save_all_image" value="false" />
    <param name="filename_format" value="/tmp/nao_camera.png" />
  </node>
</launch>