# Place this file at /lib/udev/rules.d/99-jsk-ps3joy.rules in fetch
KERNEL=="js?", SUBSYSTEM=="input", ATTRS{name}=="Sony PLAYSTATION(R)3 Controller", SYMLINK+="ps3joy"
