<?xml version="1.0" ?>
<launch>

  <!-- argments -->
  <arg name="rviz" default="true" />

  <!-- Haptics Dive -->
  <arg name="reference_frame" default="/map"/>
  <arg name="units" default="mm"/>
  <arg name="publish_rate" default="1000"/>

  <!-- Audio Play -->
  <arg name="play_device" default="hw:6,0"/>
  <arg name="dst" default="alsasink"/>
  <arg name="format" default="wave"/>
  <arg name="n_channels" default="1"/>
  <arg name="sample_rate" default="16000"/>
  <arg name="sample_format" default="S16LE"/>

  <!-- start touch usb -->
  <group ns="left_device">
    <node name="omni_state" pkg="omni_common" type="omni_state" output="screen">
      <param name="device_name" value="Left Device"/>
      <param name="omni_name" value="phantom"/>
      <param name="publish_rate" value="$(arg publish_rate)"/>
      <param name="reference_frame" value="/larm_link_0"/>
      <param name="units" value="$(arg units)"/>
    </node>
  </group>
  <group ns="right_device">
    <node name="omni_state" pkg="omni_common" type="omni_state" output="screen">
      <param name="device_name" value="Right Device"/>
      <param name="omni_name" value="phantom"/>
      <param name="publish_rate" value="$(arg publish_rate)"/>
      <param name="reference_frame" value="$(arg reference_frame)"/>
      <param name="units" value="$(arg units)"/>
    </node>
  </group>


  <!-- visualization -->
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find jsk_panda_teleop)/config/rviz/dual_panda.rviz" if="$(arg rviz)" />

  <!-- start MIDI controller-->
  <node pkg="jsk_teleop_joy" type="midi_config_player.py"
        output="screen" name="midi_controller"
        args="$(find jsk_teleop_joy)/configs/b_control.yaml">
    <remap from="/joy" to="/midi_controller/joy" />
  </node>

  <!-- sound play -->
  <node name="audio_play" pkg="audio_play" type="audio_play" output="screen">
    <param name="device" value="$(arg play_device)"/>
    <param name="dst" value="$(arg dst)"/>
    <param name="do_timestamp" value="true"/>
    <param name="format" value="$(arg format)"/>
    <param name="channels" value="$(arg n_channels)"/>
    <param name="sample_rate" value="$(arg sample_rate)"/>
    <param name="sample_format" value="$(arg sample_format)"/>
  </node>

</launch>
