<launch>
  <machine name="localhost" address="localhost" />
  <include file="$(find jsk_robot_startup)/lifelog/mongodb.launch">
    <arg name="repl_set_mode" value="false" />
    <arg name="port" value="27017" />
    <arg name="use_daemon" value="true" />
    <arg name="replicate" value="false" />
  </include>
</launch>
