<launch>
  <!-- MongoDB -->
  <arg name="db_path" default="/opt/strands/mongodb_store"/>
  <arg name="port" default="62345" />
  <arg name="defaults_path" default=""/>
  
  <param name="mongodb_port" value="$(arg port)" />
  <param name="mongodb_host" value="$(optenv HOSTNAME localhost)" />

  <node name="mongo_server" pkg="mongodb_store" type="mongodb_server.py" output="screen">
    <param name="database_path" value="$(arg db_path)"/>
  </node>

  <node name="config_manager" pkg="mongodb_store" type="config_manager.py" output="screen">
        <param name="defaults_path" value="$(arg defaults_path)"/>
  </node>

  <node name="message_store" pkg="mongodb_store" type="message_store_node.py" output="screen"/>

  <node name="replicator_node" pkg="mongodb_store" type="replicator_node.py" output="screen"/>
</launch>