<launch>
  <arg name="credential_config" default="$(find jsk_spot_startup)/auth/spot_credential.yaml" />

  <param
    name="robot_description"
    command="$(find xacro)/xacro $(find jsk_spot_startup)/robots/jsk_spot.urdf.xacro --inorder" 
    />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    />

  <include file="$(find spot_driver)/launch/control.launch" />

  <node
      pkg="spot_driver"
      type="spot_ros.py"
      name="spot_ros"
      ns="spot"
      output="screen"
      respawn="true"
      >
    <rosparam file="$(find spot_driver)/config/spot_ros.yaml" command="load" />
    <rosparam file="$(arg credential_config)" command="load" />
    <remap from="joint_states" to="/joint_states"/>
    <remap from="tf" to="/tf"/>
  </node>

  <node name="cmd_vel_smoother" pkg="cmd_vel_smoother" type="cmd_vel_smoother">
    <remap from="input" to="spot/cmd_vel_unsmoothed" />
    <remap from="output" to="spot/cmd_vel" />

    <param name="desired_rate" value="10.0" />
    <param name="x_acc_lim" value="1.0" />
    <param name="y_acc_lim" value="0.5" />
    <param name="yaw_acc_lim" value="0.1" />
    <param name="decel_factor" value="0.8" />
    <param name="max_count" value="5" />
  </node>

  <node
      pkg="twist_mux"
      type="twist_mux"
      name="twist_mux"
      >
    <rosparam command="load" file="$(find jsk_spot_startup)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="spot/cmd_vel_unsmoothed"/>
  </node>

  <node
      pkg="laptop_battery_monitor"
      type="laptop_battery.py"
      name="laptop_battery"
      >
  </node>

  <node
      pkg="jsk_spot_startup"
      type="cable_connection_detector.py"
      name="cable_connection_detector"
      >
  </node>

</launch>
