<launch>
    <arg name="use_insta_360" default="true"/>
    <arg name="use_respeaker" default="true"/>

    <!-- insta360 -->
    <include
        if="$(arg use_insta_360)"
        file="$(find jsk_perception)/sample/sample_insta360_air.launch"
        >
        <arg name="gui" value="false" />
        <arg name="brightness" value="128" />
    </include>

    <!-- Respeaker -->
    <node
        pkg="respeaker_ros"
        type="respeaker_node.py"
        name="respeaker_node"
        if="$(arg use_respeaker)"
        />

</launch>
