<launch>
    <arg name="arm"/>
    <arg name="dof" />
    <arg name="vision"/>
    <arg name="gripper"/>
    <arg name="robot_name"/>
    <arg name="prefix"/>

    <group ns="$(arg robot_name)">
        <!-- Start joint and robot state publisher -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    </group>
</launch>
