<?xml version="1.0"?>
<launch>
    <arg name="arm" />
    <arg name="use_hard_limits" />
    <arg name="dof" />
    <arg name="vision" />
    <arg name="gripper" />
    <arg name="robot_name" />
    <arg name="prefix" />
    <arg name="ip_address" />
    <arg name="username" />
    <arg name="password" />
    <arg name="cyclic_data_publish_rate" />
    <arg name="api_rpc_timeout_ms" />
    <arg name="api_session_inactivity_timeout_ms" />
    <arg name="api_connection_inactivity_timeout_ms" />
    <arg name="default_goal_time_tolerance" />
    <arg name="default_goal_tolerance" />

    <group ns="$(arg robot_name)">
        <!-- Load the description for the robot -->
        <group if="$(eval not arg('prefix'))">
            <param
                name="robot_description"
                command="$(find xacro)/xacro --inorder $(find jsk_kinova_description)/robots/$(arg arm)_$(arg gripper).xacro dof:=$(arg dof) vision:=$(arg vision) sim:=false"
                />
        </group>
        <group unless="$(eval not arg('prefix'))">
            <param
                name="robot_description"
                command="$(find xacro)/xacro --inorder $(find jsk_kinova_description)/robots/$(arg arm)_$(arg gripper).xacro dof:=$(arg dof) vision:=$(arg vision) sim:=false prefix:=$(arg prefix)"
                />
        </group>

        <!-- Start the kortex_driver node -->
        <node name="$(arg robot_name)_driver" pkg="kortex_driver" type="kortex_arm_driver" output="screen"> <!--launch-prefix="gdb -ex run args"-->
            <param name="sim" value="false"/>
            <param name="ip_address" value="$(arg ip_address)"/>
            <param name="username" value="$(arg username)"/>
            <param name="password" value="$(arg password)"/>
            <param name="cyclic_data_publish_rate" value="$(arg cyclic_data_publish_rate)"/>
            <param name="api_rpc_timeout_ms" value="$(arg api_rpc_timeout_ms)"/>
            <param name="api_session_inactivity_timeout_ms" value="$(arg api_session_inactivity_timeout_ms)"/>
            <param name="api_connection_inactivity_timeout_ms" value="$(arg api_connection_inactivity_timeout_ms)"/>
            <param name="default_goal_time_tolerance" value="$(arg default_goal_time_tolerance)"/>
            <param name="default_goal_tolerance" value="$(arg default_goal_tolerance)"/>
            <param name="arm" value="$(arg arm)"/>
            <param name="gripper" value="$(arg gripper)"/>
            <param name="dof" value="$(arg dof)"/>
            <param name="use_hard_limits" value="$(arg use_hard_limits)"/>
            <param name="robot_name" value="$(arg robot_name)"/>
            <param name="prefix" value="$(arg prefix)"/>
            <rosparam command="load" file="$(find kortex_description)/arms/$(arg arm)/$(arg dof)dof/config/joint_limits.yaml" subst_value="true"/>
            <!-- If there is a gripper, load the active joint names for it -->
            <rosparam command="load" file="$(find kortex_description)/grippers/$(arg gripper)/config/joint_limits.yaml" unless="$(eval not arg('gripper'))" subst_value="true"/>
        </node>

        <!-- joint_state_publisher -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <rosparam param="source_list">[base_feedback/joint_state]</rosparam>
            <param name="use_gui" value="false"/>
            <param name="rate" value="$(arg cyclic_data_publish_rate)" />
        </node>
    </group>
</launch>
