<launch>
  <include file="$(find pepper_bringup)/launch/pepper.launch" >
    <arg name="force_python" value="true"/>
  </include>
  <include file="$(find nao_interaction_launchers)/launch/nao_audio_interface.launch"/>
  <include file="$(find nao_interaction_launchers)/launch/nao_vision_interface.launch"/>
  <include file="$(find nao_apps)/launch/speech.launch"/>
  <include file="$(find nao_apps)/launch/alife.launch"/>
  <include file="$(find nao_apps)/launch/behaviors.launch"/>
  <!-- <include file="$(find nao_apps)/launch/wheel.launch"/> -->

  <!-- <include file="$(find turtlebot_teleop)launch/keyboard_teleop.launch" /> -->
  <node pkg="joy" type="joy_node" name="teleop_joy">
    <param name="dev" value="/dev/input/js0" />
  </node>
  <node pkg="topic_tools" type="relay" name="cmd_vel_relay"
	args="/cmd_vel_mux/input/teleop /cmd_vel" />
  <node pkg="turtlebot_teleop" type="turtlebot_teleop_joy" name="turtlebot_teleop_joystick">
    <param name="scale_angular" value="1.0"/>
    <param name="scale_linear" value="1.0"/>
    <param name="axis_deadman" value="4"/>
    <param name="axis_linear_x" value="1"/>
    <param name="axis_linear_y" value="0"/>
    <param name="axis_angular" value="3"/>
    <param name="is_horonomic" value="true" />
    <remap from="turtlebot_teleop_joystick/cmd_vel" to="cmd_vel"/>
  </node>


  <!--
  <include file="$(find nao_sensors)/launch/sonar.launch" />
  -->

  <node pkg="jsk_pepper_startup" name="pepper_twitter" type="tweet.l" />
  <node pkg="rostwitter" name="tweet" type="tweet.py" />
  <node pkg="image_view" name="image_saver" type="image_saver" >
    <remap from="image" to="/camera/front/camera/image_raw" />
    <param name="save_all_image" value="false" />
    <param name="filename_format" value="/tmp/pepper_camera.png" />
  </node>
  <!--
  <node pkg="nao_dashboard" name="dashboard" type="nao_dashboard"/>
  -->

  <node pkg="jsk_pepper_startup" name="joy_client" type="joy-client.l" />
</launch>
