<launch>
  <param name="robot/type" value="pepper" />
  <param name="robot/name" command='bash -c "getent hosts $NAO_IP | tr -s \" \" | cut -d\  -f 2 | cut -d. -f 1"' />
  <arg name="nao_ip" value="$(env NAO_IP)"/>
  <arg name="roscore_ip" value="$(env ROS_IP)"/>
  <arg name="network_interface"   default="eth0" />
  <arg name="launch_twitter" default="false" />
  <arg name="launch_joy" default="true" />
  <include file="$(find pepper_bringup)/launch/pepper_full.launch" >
    <arg name="nao_ip" value="$(arg nao_ip)"/>
    <arg name="roscore_ip" value="$(arg roscore_ip)"/>
    <arg name="network_interface" value="$(arg network_interface)"/>
  </include>

  <!-- <include file="$(find turtlebot_teleop)launch/keyboard_teleop.launch" /> -->
  <node pkg="joy" type="joy_node" name="joy_node" if="$(arg launch_joy)">
    <param name="dev" value="/dev/input/js0" />
    <param name="deadzone" value="0.3" />
    <param name="autorepeat_rate" value="20" />
  </node>
  <node pkg="teleop_twist_joy" name="teleop_twist_joy"
        type="teleop_node" if="$(arg launch_joy)">
    <rosparam>
# stop button: Left trigger button
axis_linear:
  x: 1.0
  y: 0.0
scale_linear:
  x: 0.2
  y: 0.2
scale_linear_turbo:
  x: 0.5
  y: 0.5

axis_angular:
  yaw: 3
scale_angular:
  yaw: 1.0
scale_augular_turbo:
  yaw: 1.5
  yaw: 1.5

enable_button: 4  # Left trigger button
enable_turbo_button: 0  # A button
    </rosparam>
  </node>
  <group if="$(arg launch_twitter)">
    <node pkg="jsk_pepper_startup" name="pepper_twitter" type="tweet.l" />
    <node pkg="rostwitter" name="tweet" type="tweet.py" />
    <node pkg="image_view" name="image_saver" type="image_saver" >
      <remap from="image" to="/pepper_robot/camera/front/image_raw" />
      <param name="save_all_image" value="false" />
      <param name="filename_format" value="/tmp/pepper_camera.png" />
    </node>
  </group>
  <include file="$(find naoqi_dashboard)/launch/naoqi_dashboard.launch"/>

  <node pkg="jsk_pepper_startup" name="joy_client" type="joy-client.l" if="$(arg launch_joy)" />

  <node name="speaking_program_is_started_or_terminated"
        pkg="roseus" type="roseus"
        args="$(find jsk_robot_startup)/lifelog/speaking-program-is-started-or-terminated.l &quot;(progn (unix:sleep 3) (good-morning) (ros::spin))&quot;"/>
</launch>
