<launch>
  <arg name="launch_people_perception" default="true" />
  <arg name="launch_interactive_movement" default="true" />
  <arg name="launch_sound_localization" default="true" />
  <arg name="launch_external_collision_avoidance" default="true" />

  <include file="$(find naoqi_apps)/launch/people_perception_topic.launch" if="$(arg launch_people_perception)"/>
  <include file="$(find naoqi_apps)/launch/face_characteristics.launch" if="$(arg launch_people_perception)"/>
  <include file="$(find naoqi_apps)/launch/gaze_analysis.launch" if="$(arg launch_people_perception)"/>
  <include file="$(find naoqi_apps)/launch/people_perception.launch" if="$(arg launch_people_perception)"/>
  <include file="$(find naoqi_apps)/launch/engagement_zones.launch" if="$(arg launch_people_perception)"/>
  <include file="$(find naoqi_apps)/launch/background_movement.launch" if="$(arg launch_interactive_movement)"/>
  <include file="$(find naoqi_apps)/launch/listening_movement.launch" if="$(arg launch_interactive_movement)"/>
  <include file="$(find naoqi_apps)/launch/sound_localization.launch" if="$(arg launch_sound_localization)"/>
  <include file="$(find naoqi_apps)/launch/external_collision_avoidance.launch" if="$(arg launch_external_collision_avoidance)"/>

</launch>
