<launch>
  <arg name="use_teleop" default="true"/>
  <arg name="use_ik_teleop" default="true"/>
  <arg name="use_base" default="true"/>
  <arg name="use_sensors" default="true"/>
  <arg name="use_speech_interaction" default="true"/>
  <arg name="spot_file" default="$(find jsk_aero_startup)/rooms/610/spot.yaml"/>
  <arg name="machine" default="$(optenv AERO_REMOTE aerov)"/>

  <include file="$(find jsk_aero_startup)/aero.machine"/>

  <!-- Bringup Minimal Aero -->
  <include file="$(find jsk_aero_startup)/launch/aero_bringup.launch"/>

  <!-- Aero Teleop -->
  <group if="$(arg use_teleop)">
    <include file="$(find jsk_aero_startup)/launch/aero_teleop_with_ik.launch"
             if="$(arg use_ik_teleop)">
      <arg name="machine" value="$(arg machine)"/>
      <arg name="joy_dev" value="/dev/input/js0" />
    </include>

    <include file="$(find aero_teleop)/launch/aero_teleop.launch"
             unless="$(arg use_ik_teleop)">
    </include>
  </group>

  <!-- Bringup Aero Base -->
  <include file="$(find jsk_aero_startup)/launch/aero_base.xml"
           if="$(arg use_base)">
  </include>

  <!-- Bringup Perception Sensors -->
  <include file="$(find jsk_aero_startup)/launch/aero_sensors.xml"
           if="$(arg use_sensors)">
    <arg name="machine" value="$(arg machine)"/>
  </include>

  <!-- Bringup Spot Manager -->
  <include file="$(find aero_std)/launch/spot_manager.launch">
    <arg name="file" value="$(arg spot_file)" />
  </include>

  <!-- Bingup Speech Interaction Node -->
  <include file="$(find jsk_aero_startup)/launch/speech_interaction.launch"
           if="$(arg use_speech_interaction)">
  </include>

  <!-- seed hand server -->
  <node name="seedhand_server"
        pkg="seedhand_std" type="seedhand_server"
        output="screen"/>

</launch>
