<launch>
  <arg name="use_base" default="true"/>
  <arg name="use_sensors" default="true"/>
  <arg name="spot_file" default="$(find jsk_aero_startup)/rooms/610/spot.yaml"/>

  <arg name="machine" default="$(optenv AERO aeroc)"/>
  <machine name="$(arg machine)" address="$(arg machine)"/>

  <!-- Bringup Minimal Aero -->
  <include file="$(find jsk_aero_startup)/launch/aero_bringup.launch"/>

  <!-- Bringup Aero Base -->
  <include file="$(find jsk_aero_startup)/launch/aero_base.xml"
           if="$(arg use_base)"/>

  <!-- Bringup Perception Sensors -->
  <include file="$(find jsk_aero_startup)/launch/aero_sensors.xml">
    <arg name="use_ps4eye" value="$(arg use_ps4eye)"/>
    <arg name="use_kinect" value="$(arg use_kinect)"/>
  </include>

  <!-- Bringup Spot Manager -->
  <include file="$(find aero_std)/launch/spot_manager.launch">
    <arg name="file" value="$(arg spot_file)" />
  </include>

</launch>
