<launch>
  <arg name="ROBOT" default="$(optenv ROBOT aero)"/>
  <arg name="USER" default="$(optenv USER user)"/>
  <arg name="spot_file" default="$(find jsk_aero_startup)/rooms/610/spot.yaml"/>

  <arg name="use_teleop" default="true"/>
  <arg name="use_base" default="true"/>
  <arg name="use_sensors" default="true"/>

  <include file="$(find jsk_aero_startup)/$(arg ROBOT).machine"/>

  <!-- Bringup Minimal Aero -->
  <include file="$(find jsk_aero_startup)/launch/aero_bringup.launch"/>

  <!-- Aero Teleop -->
  <include file="$(find jsk_aero_startup)/launch/aero_teleop_with_ik.launch"
           if="$(arg use_teleop)"/>

  <!-- Bringup Base -->
  <include file="$(find jsk_aero_startup)/launch/aero_base.xml"
           if="$(arg use_base)"/>

  <!-- Bringup Perception Sensors -->
  <include file="$(find jsk_aero_startup)/launch/aero_sensors.xml"
           if="$(arg use_sensors)"/>

  <!-- Bringup Spot Manager -->
  <include file="$(find aero_std)/launch/spot_manager.launch">
    <arg name="file" value="$(arg spot_file)" />
  </include>

</launch>
  
