<launch>
  <arg name="machine" default="localhost"/>
  <arg name="viewer" default="false" /> <!-- Must be globally qualified -->
  <arg name="manager" default="ps4eye_manager_local" /> <!-- Must be globally qualified -->
  <arg name="respawn" default="false" />
  <!-- TODO Arguments for debayer, interpolation methods? -->

  <arg     if="$(arg respawn)" name="bond" value="" />
  <arg unless="$(arg respawn)" name="bond" value="--no-bond" />

  <machine name="localhost" address="localhost"/>

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager"
        output="screen" machine="$(arg machine)"/>

  <!-- arguments for camera param uri -->
  <arg name="camera_info_file_default"
       default="$(find jsk_aero_startup)/config/ps4eye_default.yaml" />
  <arg name="camera_info_file_right"
       default="$(find jsk_aero_startup)/config/ps4eye_right.yaml" />
  <arg name="camera_info_file_left"
       default="$(find jsk_aero_startup)/config/ps4eye_left.yaml" />
  <arg name="camera_info_url_default" default="file://$(arg camera_info_file_default)" />
  <arg name="camera_info_url_right" default="file://$(arg camera_info_file_right)" />
  <arg name="camera_info_url_left" default="file://$(arg camera_info_file_left)" />

  <!-- arguments for tf coords -->
  <arg name="parent_frame" default="/head_base_link" />
  <arg name="parent_transform" value="0.06 0.04 0.08 -1.570791 0  -1.570791"/>

  <!-- This launchfile should bring up a node that broadcasts a ros image
       transport on /webcam/image_raw -->
  <arg name="load_driver" default="true" />
  <arg name="DEVICE" default="/dev/ps4eye"/>
  <!-- The GStreamer framerate needs to be an integral fraction -->
  <arg name="FPS" default="30/1"/>
  <!-- Available resolution should be 3448x808, 1748x408,1744x408,898x200,896x200 -->
  <arg name="width" default="3448"/>
  <arg name="height" default="808"/>
  <arg name="PUBLISH_FRAME" default="false"/>
  <node name="gscam_driver" pkg="nodelet" type="nodelet"
        args="load gscam/GSCamNodelet $(arg manager)"
        output="screen" machine="$(arg machine)"
        if="$(arg load_driver)">
    <param name="camera_name" value="default"/>
    <param name="gscam_config" value="v4l2src device=$(arg DEVICE) ! video/x-raw-yuv,framerate=$(arg FPS),width=$(arg width),height=$(arg height) ! ffmpegcolorspace"/>
    <param name="frame_id" value="/ps4eye_frame"/>
    <param name="sync_sink" value="true"/>
    <param name="camera_info_url" value="$(arg camera_info_url_default)" />
  </node>

  <node name="ps4eye_auto_exposure"
        pkg="jsk_aero_startup" type="ps4eye_auto_exposure.sh"
        machine="$(arg machine)"/>
</launch>
