<launch>
  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="camera" value="openni_camera"/>
  </include>

  <arg name="base_frame" default="/head_link" />
  <arg name="camera_frame" default="/openni_camera_link" />
  <node name="xtion_link_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.00 0.06 0.19
              0 0.0 0 1.0
              $(arg base_frame) $(arg camera_frame) 1000" />

</launch>
