<launch>
    <!-- person tracker -->
    <node
        pkg="spot_person_lead_behaviors"
        type="person_tracker.py"
        name="crosswalk_detection_person_tracker"
        output="screen"
        >
        <remap from="~bbox_array" to="/spot_recognition/bbox_array" />
        <!-- remap from="~visible" to="" / -->

        <rosparam subst_value="true">
            frame_id_robot: 'body'
            label_person: 0
            dist_visible: 5.0
            timeout_observation: 5.0
        </rosparam>
    </node>

    <!-- multi object tracker -->
    <include file="$(find jsk_spot_startup)/launch/include/multi_object_detector.launch" />

    <!-- car tracker -->
    <node
        pkg="spot_person_lead_behaviors"
        type="car_tracker.py"
        name="crosswalk_detection_car_tracker"
        output="screen"
        >
        <remap from="~input_bbox_array" to="/spot_recognition/bbox_array" />
        <remap from="~input_tracking_labels" to="/spot_recognition/tracking_labels" />

        <rosparam subst_value="true">
            frame_fixed: 'odom'
            frame_robot: 'body'
            timeout_transform: 0.05
            num_max_track: 10
            thresholds_distance:
                '2': 50
                '5': 50
                '7': 50
            threshold_move_velocity: 2
            threshold_lost_duration: 1.0
        </rosparam>
    </node>

</launch>
