<launch>
    <!-- person tracker -->
    <node
        pkg="spot_person_lead_behaviors"
        type="person_tracker.py"
        name="walk_detection_person_tracker"
        output="screen"
        >
        <remap from="~bbox_array" to="/spot_recognition/bbox_array" />
        <!-- remap from="~visible" to="" / -->

        <rosparam subst_value="true">
            frame_id_robot: 'body'
            label_person: 0
            dist_visible: 5.0
            timeout_observation: 5.0
        </rosparam>
    </node>
</launch>
