<launch>
  <include file="$(find jsk_pr2_startup)/jsk_pr2_rocon/pr2s_rocon_common/pr1012_rocon.launch">
    <arg name="config_path" value="$(find jsk_pr2_startup)/jsk_pr2_rocon/look_sample/pr1012_config.yaml" />
  </include>

  <node pkg="jsk_pr2_startup" type="pr1012_pose_publisher.l" name="pr1012_pose_publisher"/>
</launch>
