<launch>
  <include file="$(find jsk_pr2_startup)/jsk_pr2_rocon/pr2s_rocon_common/pr1040_rocon.launch">
    <arg name="config_path" value="$(find jsk_pr2_startup)/jsk_pr2_rocon/chatter_sample/pr1040_config.yaml" />
  </include>

  <node pkg="roscpp_tutorials" type="talker" name="talker_pr1040">
    <remap from="chatter" to="fuga"/>
  </node>
  <!-- relay -->
  <!-- <include file="$(find drc_com_common)/launch/fc_relay.launch" /> -->
</launch>
