<launch>
  <arg name="launch_openni" default="true" />

  <include file="$(find openni_launch)/launch/openni.launch"
           if="$(arg launch_openni)">
    <arg name="camera" value="openni"/>
    <arg name="depth_registration" value="true"/>
  </include>

  <!-- checkerboard -->
  <group ns="/camera/rgb/" >
    <!-- <param name="single" value="1" /> -->
    <param name="display" type="int" value="1" />
    <param name="rect0_size_x" value="0.027" />
    <param name="rect0_size_y" value="0.027" />
    <param name="grid0_size_x" value="6" />
    <param name="grid0_size_y" value="5" />
    <param name="type0" value="test_object" />

    <node name="checkerboard_detector" pkg="checkerboard_detector"
          type="checkerboard_detector">
      <remap from="image" to="/openni/rgb/image_rect_color" />
      <remap from="camera_info" to="/openni/rgb/camera_info" />
    </node>
    <!-- <node name="objectdetection_tf_publisher" -->
    <!--       pkg="checkerboard_detector" -->
    <!--       type="objectdetection_tf_publisher.py" /> -->
    <node name="objectdetection_tf_publisher"
          pkg="checker_board_detector"
          type="objectdetection_tf_publisher.py" >
      <param name="latest_publish" value="true"/>
    </node>

  </group>
  <node pkg="tf" type="static_transform_publisher" name="base_to_checkerboard" args="0.425 0.04 0.23 -0.1 3.14 0.055 /object /world 100" />

  <!-- rosrun tf static_transform_publisher 0.425 0.04 0.23 -0.1 3.14 0.055  /object /world 200 -->

  <!-- end checkerboard  -->


  <!-- <node name="kinect_downsample_for_throttle" pkg="nodelet" type="nodelet" -->
  <!--       args="load pcl/VoxelGrid /openni/openni_nodelet_manager"> -->
  <!--   <remap from="~input" to="/openni/depth_registered/points"/> -->
  <!--   <param name="filter_limit_min" value="0" /> -->
  <!--   <param name="filter_limit_max" value="4" /> -->
  <!--   <param name="leaf_size" value="0.02" /> -->
  <!-- </node> -->
  <!-- <node pkg="nodelet" type="nodelet" name="throttle" output="screen" -->
  <!--       args="load jsk_topic_tools/LightweightThrottle /openni/openni_nodelet_manager"> -->
  <!--   <remap from="~input" to="/openni/depth_registered/points" /> -->
  <!--   <remap from="~output" to="/openni/depth_registered/points_throttle" /> -->
  <!--   <param name="update_rate" value="3.0" /> -->
  <!-- </node> -->
  <!-- <node pkg="nodelet" type="nodelet" name="throttle_for_vis" output="screen" -->
  <!--       args="load jsk_topic_tools/LightweightThrottle /openni/openni_nodelet_manager"> -->
  <!--   <remap from="~input" to="kinect_downsample_for_throttle/output" /> -->
  <!--   <remap from="~output" to="/openni/depth_registered/points_throttle_for_vis" /> -->
  <!--   <param name="update_rate" value="3.0" /> -->
  <!-- </node> -->
  <!-- <node name="kinect_image_throttle" pkg="topic_tools" type="throttle" -->
  <!--       args="messages /openni/rgb/image_rect_color/compressed 5.0" /> -->
</launch>
