<launch>
  <arg name="ip_address" default="133.11.216.53" doc="IP adress of the Kinova robot" />
  <arg name="robot_name" default="arm_gen3" doc="Kinova robot name. Basically, this name should not be changed." />
  <arg name="arm" default="gen3" doc="Use 'gen3' for gen3 robot, 'gen3_lite' for gen3 lite robot." />
  <arg name="gripper" default="robotiq_2f_140" if="$(eval arg('arm') == 'gen3')" doc="For gen3 robot" />
  <arg name="gripper" default="gen3_lite_2f" if="$(eval arg('arm') == 'gen3_lite')" doc="For gen3 lite robot"/>
  <arg name="vision" default="true" if="$(eval arg('arm') == 'gen3')" doc="Set true if you use gen3 camera module." />
  <arg name="vision" default="false" if="$(eval arg('arm') == 'gen3_lite')" doc="gen3 lite robot does not have camera module." />
  <arg name="rviz" default="false" doc="Set true if you want RViz." />

  <!-- Driver -->
  <include file="$(find kortex_driver)/launch/kortex_driver.launch">
    <arg name="ip_address" value="$(arg ip_address)" />
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="start_rviz" value="false" />
    <arg name="arm" value="$(arg arm)" />
    <arg name="gripper" value="$(arg gripper)" />
    <arg name="vision" value="$(arg vision)" />
  </include>

  <!-- Vision -->
  <include if="$(arg vision)" file="$(find kinova_vision)/launch/kinova_vision_rgbd.launch">
    <arg name="device" value="$(arg ip_address)" />
  </include>

  <!-- Rviz -->
  <include if="$(arg rviz)" file="$(find jsk_kinova_startup)/launch/rviz.launch" />
</launch>
