<?xml version="1.0"?>
<launch>
  <arg name="ip_address" default="133.11.216.53" doc="IP adress of the Kinova robot" />
  <arg name="robot_name" default="arm_gen3" doc="Kinova robot name. Basically, this name should not be changed." />
  <arg name="arm" default="gen3_lite" doc="Use 'gen3' for gen3 robot, 'gen3_lite' for gen3 lite robot." />
  <arg name="gripper" default="robotiq_2f_140" if="$(eval arg('arm') == 'gen3')" doc="For gen3 robot" />
  <arg name="gripper" default="gen3_lite_2f" if="$(eval arg('arm') == 'gen3_lite')" doc="For gen3 lite robot"/>
  <arg name="vision" default="true" if="$(eval arg('arm') == 'gen3')" doc="Set true if you use gen3 camera module." />
  <arg name="vision" default="false" if="$(eval arg('arm') == 'gen3_lite')" doc="gen3 lite robot does not have camera module." />
  <arg name="prefix" default="kinova_" doc="Prefix for kinova joint names" />
  <arg name="rviz" default="false" doc="Set true if you want RViz." />
  <arg name="use_realsense" default="true" />
  <arg name="launch_robot_state_publisher" default="true" />

  <!-- Driver -->
  <include file="$(find jsk_kinova_startup)/launch/kortex_driver.launch">
    <arg name="ip_address" value="$(arg ip_address)" />
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="arm" value="$(arg arm)" />
    <arg name="gripper" value="$(arg gripper)" />
    <arg name="vision" value="$(arg vision)" />
    <arg name="prefix" value="$(arg prefix)" />
    <arg name="launch_robot_state_publisher" value="$(arg launch_robot_state_publisher)" />
  </include>

  <!-- Do not create too dense trajectory in MoveIt! -->
  <!-- Decreasing the number of waypoint reduces minjerk interpolation calculation time by roseus-->
  <group ns="$(arg robot_name)">
    <group ns="move_group">
    <param name="sample_duration" value="0.3" /> <!-- Default: 0.05 -->
    </group>
  </group>

  <!-- Vision -->
  <include if="$(arg vision)" file="$(find kinova_vision)/launch/kinova_vision_rgbd.launch">
    <arg name="device" value="$(arg ip_address)" />
  </include>
  <include if="$(arg use_realsense)" file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="device_type" value="d435" />
    <arg name="camera" value="kinova_wrist_camera" />
    <arg name="enable_pointcloud" value="true" />
    <arg name="align_depth" value="true" />
  </include>
  <node
      pkg="nodelet"
      type="nodelet"
      name="kinova_wrist_point_proc"
      args="standalone depth_image_proc/point_cloud_xyzrgb">
      <remap from="rgb/camera_info" to="/kinova_wrist_camera/color/camera_info"/>
      <remap from="rgb/image_rect_color" to="/kinova_wrist_camera/color/image_raw"/>
      <remap from="depth_registered/image_rect" to="/kinova_wrist_camera/aligned_depth_to_color/image_raw"/>
      <remap from="depth_registered/points" to="/kinova_wrist_camera/aligned_depth_to_color/points" />
  </node>

  <!-- Rviz -->
  <include if="$(arg rviz)" file="$(find jsk_kinova_startup)/launch/rviz.launch" />
</launch>
