<launch>
  <arg name="ROBOT" default="$(optenv ROBOT sim)"/>
  <arg name="machine" default="c2" />
  <arg name="respawn" default="true" />
  <arg name="camera" default="kinect_head" />

  <include file="$(find pr2_machine)/$(arg ROBOT).machine" />

  <node pkg="robot_self_filter" type="self_filter" name="kinect_head_self_filter"
        respawn="$(arg respawn)" machine="$(arg machine)">
    <remap from="cloud_in" to="$(arg camera)/depth_registered/points" />
    <remap from="cloud_out" to="$(arg camera)/depth_registered/points_self_filtered" />
    <rosparam>
      sensor_frame: /head_mount_kinect_rgb_optical_frame
      use_rgb: true
      keep_organized: true
      subsample_value: 0.0
    </rosparam>
    <rosparam command='load' file='$(find jsk_pr2_startup)/jsk_pr2_sensors/tilt_self_filter.yaml'/>
  </node>
</launch>
