<launch>
  <arg name="MACHINE" default="localhost"/>
  <arg name="launch_openni" default="true" />
  <arg name="launch_battery" default="false" />
  <include file="$(find pr2_machine)/pr2.machine" />
  <!-- openni -->
  <node if="$(arg launch_openni)"
        machine="$(arg MACHINE)"
	pkg="jsk_pr2_startup" type="openni_remote_launch.sh" name="openni_remote_launch_$(arg MACHINE)"
	args="$(arg MACHINE)" output="log"/>
  <!-- laptop battery -->
  <node if="$(arg launch_battery)"
	pkg="linux_hardware" type="laptop_battery.py" name="laptop_battery_$(arg MACHINE)" machine="$(arg MACHINE)" output="screen"/>
</launch>
