<?xml version="1.0" ?>
<robot name="baxter" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="gazebo" default="false"/>
  <xacro:arg name="pedestal" default="true"/>
  <xacro:arg name="right_electric_gripper" default="true"/>
  <xacro:arg name="left_electric_gripper" default="true"/>
  <xacro:arg name="finger" default="standard_narrow"/>
  <xacro:arg name="finger_tip" default="paddle_tip"/>
  <xacro:arg name="" default="true"/>
  <!-- Baxter Base URDF -->
  <xacro:include filename="$(find baxter_description)/urdf/baxter_base/baxter_base.urdf.xacro">
    <xacro:arg name="gazebo" value="${gazebo}"/>
  </xacro:include>

  <!-- Baxter Pedestal -->
  <xacro:if value="$(arg pedestal)">
    <xacro:include filename="$(find baxter_description)/urdf/pedestal/pedestal.xacro">
      <xacro:arg name="gazebo" value="${gazebo}"/>
    </xacro:include>
  </xacro:if>

  <!-- Left End Effector -->
  <xacro:include filename="$(find jsk_baxter_startup)/jsk_baxter_description/left_end_effector.urdf.xacro">
    <xacro:arg name="left_electric_gripper" value="${left_electric_gripper}"/>
    <xacro:arg name="finger" value="${finger}"/>
    <xacro:arg name="finger_tip" value="${finger_tip}"/>
  </xacro:include>

  <!-- Right End Effector -->
  <xacro:include filename="$(find jsk_baxter_startup)/jsk_baxter_description/right_end_effector.urdf.xacro">
    <xacro:arg name="right_electric_gripper" value="${right_electric_gripper}"/>
    <xacro:arg name="finger" value="${finger}"/>
    <xacro:arg name="finger_tip" value="${finger_tip}"/>
  </xacro:include>

</robot>
