<launch>
  <!-- Construct a 3D Map under /map and Localize robot-->
  <arg name="DELETE_DB" default="true"/>
  <arg name="delete_db_on_start" value="--delete_db_on_start" if="$(arg DELETE_DB)"/>
  <arg name="delete_db_on_start" value="" unless="$(arg DELETE_DB)"/>
  <group ns="rtabmap">
    <node pkg="rtabmap_ros" type="rgbd_sync" name="rtabmap_head_camera">
      <remap from="rgb/image" to="/camera_remote/rgb/image_rect_color"/>
      <remap from="depth/image" to="/camera_remote/depth_registered/image_raw"/>
      <remap from="rgb/camera_info" to="/camera_remote/rgb/camera_info"/>

      <remap from="rgbd_image" to="rgbd_image"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" args="$(arg delete_db_on_start)">
      <rosparam subst_value="true">
        subscribe_rgb: false
        subscribe_depth: false
        subscribe_rgbd: true
        rgbd_cameras: 1 ## If > 1, the rgbd_image topics should contain the camera index starting with 0. For example, if we have 2 cameras, you should set rgbd_image0 and rgbd_image1 topics.

        frame_id: BODY
        odom_frame_id: odom #最初のodomの原点がmapの原点になる。2次元地図を使用する場合は、mapのXY平面に対して射影が行われるが、このとき、Z成分が負の点やGrid/MaxObstacleHeightより大きい点はobstacleとしては無視される。そのため、最初のodomの原点のZ高さに注意を払う必要がある。

        map_always_update: true ## 立ち止まった時にもアップデート
        wait_for_transform_duration: 0.5 ## 通信遅延に対応するため

        Grid/RayTracing: true ## octomap_occupied_space にray tracingが適用される
        Grid/CellSize: 0.02
        GridGlobal/OccupancyThr: 0.5 ## Occupancy threshold (value between 0 and 1).
        GridGlobal/ProbMiss: 0.2 ## Probability of a miss (value between 0 and 0.5).
        GridGlobal/ProbHit: 0.9 ## Probability of a hit (value between 0.5 and 1).
        Grid/PreVoxelFiltering: false ## Input cloud is downsampled by voxel filter (voxel size is "Grid/CellSize") before doing segmentation of obstacles and ground.

        Grid/MaxGroundHeight: 0.0 ## Maximum ground height (0=disabled).
        Grid/MaxObstacleHeight: 0.0 ## Maximum obstacles height (0=disabled).
        Grid/NormalsSegmentation: false ## Segment ground from obstacles using point normals, otherwise a fast passthrough is used
        Grid/MapFrameProjection: false ## Projection in map frame. On a 3D terrain and a fixed local camera transform (the cloud is created relative to ground), you may want to disable this to do the projection in robot frame instead. ## MaxGroundHeightがmap_frame_id系(true)かframe_id系(false)かに影響。falseの方が精度が良い? falseの場合, 2d map生成時にBODY相対でZ高さに応じて障害物を射影するので、BODYが傾くと対応不可
      </rosparam>
    </node>

    <!-- add height information to project 2d -->
    <node pkg="jsk_robot_startup" type="height_limit_rtabmap.py" name="height_limit_rtabmap">
      <rosparam>
        rate: 0.1
        body_frame: BODY
        foot_frame: base_footprint
        lower_limit: 0.15
        upper_limit: 2.0
        rtabmap_ns: /rtabmap
        enable_start: true
      </rosparam>
    </node>
  </group>
</launch>
