<launch>
  <!-- Construct a 3D Map under /map and Localize robot-->
  <arg name="DELETE_DB" default="true"/>
  <arg name="delete_db_on_start" value="--delete_db_on_start" if="$(arg DELETE_DB)"/>
  <arg name="delete_db_on_start" value="" unless="$(arg DELETE_DB)"/>
  <group ns="rtabmap">
    <node pkg="rtabmap_ros" type="rgbd_sync" name="rtabmap_head_camera">
      <remap from="rgb/image" to="/camera_remote/rgb/image_rect_color"/>
      <remap from="depth/image" to="/camera_remote/depth_registered/image_raw"/>
      <remap from="rgb/camera_info" to="/camera_remote/rgb/camera_info"/>

      <remap from="rgbd_image" to="rgbd_image"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" args="$(arg delete_db_on_start)">
      <rosparam subst_value="true">
        subscribe_rgb: false
        subscribe_depth: false
        subscribe_rgbd: true
        rgbd_cameras: 1 ## If > 1, the rgbd_image topics should contain the camera index starting with 0. For example, if we have 2 cameras, you should set rgbd_image0 and rgbd_image1 topics.

        frame_id: BODY
        odom_frame_id: odom #最初のodomの原点がmapの原点になる。2次元地図を使用する場合は、mapのXY平面に対して射影が行われるが、このとき、Z成分が負の点やGrid/MaxObstacleHeightより大きい点はobstacleとしては無視される。そのため、最初のodomの原点のZ高さに注意を払う必要がある。

        map_always_update: true ## 立ち止まった時にもアップデート
        # wait_for_transform: true
        # wait_for_transform_duration: 0.5

        Grid/RayTracing: true ## octomap_occupied_space にray tracingが適用される
        Grid/CellSize: 0.02
        Grid/MaxGroundAngle: 10 ## Maximum angle (degrees) between point's normal to ground's normal to label it as ground. 急な斜面は歩けないので小さくてよい
        Grid/MaxObstacleHeight: 2.0 ## Maximum obstacles height (0=disabled).
        Grid/MinClusterSize: 1 ## Minimum cluster size to project the points
        GridGlobal/ProbMiss: 0.3 ## Probability of a miss (value between 0 and 0.5).
      </rosparam>
    </node>
  </group>
</launch>
